<script setup lang="ts">
import {GroupCreateWidget} from '@/widgets/group-create-widget';

import {PageLayout, MobilePageLayout} from '../ui/page-layout';
</script>

<template>
	<PageLayout>
		<template #content>
			<GroupCreateWidget/>
		</template>
	</PageLayout>

	<MobilePageLayout>
		<template #content>
			<GroupCreateWidget/>
		</template>
	</MobilePageLayout>
</template>

<style module>

</style>
