<script setup lang="ts">
import {storeToRefs} from "pinia";
import {computed, ref, watch, type VNodeRef} from 'vue';

import type {Comment} from "@/entities/comment";
import {CommentContentViewer} from "@/entities/comment";
import {useViewerStore, CommentUserPreview} from "@/entities/user";

import {MinusRoundedOutlineIcon, PlusRoundedSolidIcon} from '@/shared/ui/assets';
import {IconTextButtonUI} from '@/shared/ui/components/icon-button-ui';

import {waitScrollEnd} from '../lib/common';
import {useBlink} from '../lib/use-blink';
// import { useScroll } from '../lib/use-scroll';
import {useHover} from '../lib/use-hover';
import type {CommentsTreeNodeRef} from '../model';

import DefaultActions from "./DefaultActions.vue";
import {LinesUI} from './lines';

const props = defineProps<{ node: Comment; }>();

const {profile} = storeToRefs(useViewerStore());

const nodeRefs = ref<CommentsTreeNodeRef[]>([]);
const containerRef = ref<VNodeRef | null>(null);

const {blink, state: blinkState} = useBlink();
// TODO: Use this for scrolling to comment
// const { scrollToComment } = useScroll(nodeRefs);
const {isHovered, props: hoverProps} = useHover();

const hasChildren = computed(() => {
  return props.node.children.length > 0;
});
const hasDeepSubtree = computed(() => true);
const isSubtreeOpen = ref(false);

watch(
    hasDeepSubtree,
    (value) => {
      if (!value) {
        isSubtreeOpen.value = true;
      }
    },
    {
      immediate: true
    }
);

const toggleSubtree = () => {
  if (hasDeepSubtree.value) {
    isSubtreeOpen.value = !isSubtreeOpen.value;
  }
};

const lineCommonProps = {
  ...hoverProps,
  async onclick() {
    toggleSubtree();
  }
};
const extendedTreeLineProps = {
  ...lineCommonProps,
  async onclick() {
    containerRef.value.scrollIntoView({
      behavior: 'smooth'
    });
    await waitScrollEnd();
    blink();

    if (hasDeepSubtree.value) {
      isSubtreeOpen.value = false;
    }
  }
};
</script>

<template>
  <div
      ref="containerRef"
      :class="[
			$style.container,
			hasChildren && $style['container-with-sub-tree'],
			isHovered && $style['container-hovered']
		]"
  >
    <div
        :class="[
				$style.header,
				hasChildren && $style['header-with-sub-tree'],
				blinkState ? $style.blink : $style['blink-off']
			]"
    >
      <slot name="header" :node="node">
        <CommentUserPreview
            :avatar="node.author.avatar"
            :username="node.author.username"
            :is-current-user="node.author.username === profile?.username"
        >
          <template #time>
            {{ node.time_ago }}
          </template>
        </CommentUserPreview>
      </slot>
    </div>

    <LinesUI.Vertical
        v-bind="lineCommonProps"
        v-if="hasChildren"
        :class="[$style.line, $style['line-body'], blinkState ? $style.blink : $style['blink-off']]"
    />
    <div
        :class="[
				$style.content,
				$style['content-body'],
				blinkState ? $style.blink : $style['blink-off'],
				hasChildren && $style['content-with-sub-tree']
			]"
    >
      <slot name="content" :node="node">
        <CommentContentViewer :content="node.content"/>
      </slot>
    </div>

    <LinesUI.VerticalSlot
        v-bind="lineCommonProps"
        :class="[$style.line, blinkState ? $style.blink : $style['blink-off']]"
        top-line
        bottom-line
        v-if="hasChildren"
    >
      <MinusRoundedOutlineIcon
          :class="[
					$style.action,
					isHovered && $style['action-hovered'],
					blinkState ? $style.blink : $style['blink-off']
				]"
          v-if="isSubtreeOpen && hasDeepSubtree"
      />
    </LinesUI.VerticalSlot>

    <div
        :class="[
				$style.footer,
				blinkState ? $style.blink : $style['blink-off'],
				hasChildren && $style['footer-with-sub-tree'],
				blinkState ? $style.blink : $style['blink-off']
			]"
    >
      <slot name="actions" :node="node">
        <DefaultActions :node="node"/>
      </slot>
    </div>

    <LinesUI.Vertical
        v-if="hasChildren"
        v-bind="lineCommonProps"
        :class="[
				$style['line-divider'],
				$style.line,
				blinkState ? $style.blink : $style['blink-off']
			]"
    />
    <div :class="[$style.divider, blinkState ? $style.blink : $style['blink-off']]"/>
    <LinesUI.Connector
        v-if="hasChildren"
        v-show="!isSubtreeOpen"
        v-bind="lineCommonProps"
        :class="[$style.line, $style['header-connector']]"
        top-line
        right-line
    />

    <IconTextButtonUI
        v-if="hasChildren"
        v-show="!isSubtreeOpen"
        @click="() => (isSubtreeOpen = true)"
        :class="$style['expand-button']"
    >
      <template #left-icon>
        <PlusRoundedSolidIcon/>
      </template>
      <template #text>Развернуть ветку ({{ node.children.length }})</template>
    </IconTextButtonUI>

    <template v-for="(item, index) in node.children" :key="index">
      <LinesUI.Connector
          v-show="isSubtreeOpen"
          v-if="index === node.children.length - 1"
          v-bind="extendedTreeLineProps"
          :class="[$style.line, $style['header-connector']]"
          top-line
          right-line
      />
      <LinesUI.Connector
          v-else
          v-show="isSubtreeOpen"
          v-bind="index === 0 ? lineCommonProps : extendedTreeLineProps"
          :class="[$style.line, $style['header-connector']]"
          top-line
          right-line
          bottom-line
      />

      <comments-tree-node
          ref="nodeRefs"
          v-if="isSubtreeOpen"
          :class="$style.child"
          :node="item"
      />

      <LinesUI.Vertical
          v-if="index !== node.children.length - 1"
          v-show="isSubtreeOpen"
          v-bind="extendedTreeLineProps"
          :class="$style.line"
      />
    </template>
  </div>
</template>

<style module lang="scss">
@import '../config/variables.scss';

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto $divider-height;
  grid-auto-rows: $comment-header-height auto;
  scroll-behavior: smooth;

  &-with-sub-tree {
    grid-template-columns: $line-width 1fr;
    grid-template-rows: auto auto auto $divider-height;
  }

  &-hovered > .line {
    border-color: var(--color-primary-1);
  }
}

.divider {
  border-bottom-right-radius: 8px;
}

.blink {
  background: #28afb01a;

  &-off {
    transition: background 0.5s ease-out;
  }
}

.header {
  height: $comment-header-height;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  &-connector {
    height: $comment-header-height;
  }

  &-with-sub-tree {
    grid-column: span 2;
  }
}

.content {
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;

  &-with-sub-tree {
    padding-left: 8px;
  }
}

.action {
  width: 12px;
  height: 12px;
  cursor: pointer;
  color: var(--color-gray-73);

  &-hovered {
    color: var(--color-primary-1);
  }
}

.footer {
  padding-left: 16px;
  padding-right: 16px;

  &-with-sub-tree {
    padding-left: 8px;
  }
}

.child {
  grid-row: span 2;
  grid-column-start: 2;
}

.expand-button {
  justify-self: flex-start;
  padding: unset;
  font-size: 14px;
  padding-left: 8px;
  height: auto;
}

.line {
  grid-column-start: 1;
  border-color: var(--color-gray-89);
  cursor: pointer;
  padding-left: 16px;

  &-divider {
    border-bottom-left-radius: 8px;
  }
}

.navigate-actions {
  display: flex;
  justify-content: space-around;
}
</style>
