<script setup lang="ts">
import { useCommentsStore } from '@/entities/comment';

import { useCommentsMaxLevel } from '../lib/use-comments-max-level';
import CommentsTreeNode from '../ui/CommentsTreeNode.vue';

const { ref: containerRef } = useCommentsMaxLevel();

const commentsStore = useCommentsStore();
</script>

<template>
	<div :class="$style.container" ref="containerRef">
		<comments-tree-node v-for="node in commentsStore.comments" :key="node.uuid" :node="node" />
	</div>
</template>

<style module lang="scss">
.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
</style>
