<script setup lang="ts">
import {ref} from "vue";

import {CommentRating} from "@/features/change-comment-rating";
import {CommentEditor} from "@/features/comment-editor";

import type {Comment} from '@/entities/comment';

const props = defineProps<{ node: Comment }>();
const showReplyForm = ref(false);
</script>

<template>
  <div :class="$style.defaultActions">
    <header :class="$style.actionsHeader">
      <CommentRating :comment="props.node"/>

      <span :class="$style.reply" @click="showReplyForm = true">
        Ответить
      </span>
    </header>

    <CommentEditor
        v-if="showReplyForm"
        @saved="showReplyForm = false"
        @cancel="showReplyForm = false"
        :parent="props.node"
    />
  </div>
</template>

<style module lang="scss">
.defaultActions {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 32px;
}
.actionsHeader {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 16px;
}
.reply {
  font: var(--font-small);
  color: var(--color-primary-1);
  cursor: pointer;
}
</style>
