<script setup lang="ts">
import {storeToRefs} from 'pinia';

import {ToggleGlobalThemeFeature} from '@/features/toggle-global-theme';
import {ViewerQuickLinks} from "@/features/viewer-quick-links";

import {useViewerStore, ViewerPreview} from '@/entities/user';

import {Routes} from '@/shared/lib/navigation';
import {PlusIcon} from '@/shared/ui/assets';
import {IconFilledButtonUI} from "@/shared/ui/components/icon-button-ui";
import {BlockSuspenseUI} from '@/shared/ui/components/loaders-ui';

const viewer = useViewerStore();
const {profile, isLoading, error} = storeToRefs(viewer);
</script>

<template>
  <div :class="$style.container" v-if="viewer.isLoading || viewer.profile">
    <section :class="$style.section">
      <BlockSuspenseUI :loading="isLoading" :error="error?.message">
        <ViewerPreview :profile="profile">
          <template #action>
            <ToggleGlobalThemeFeature/>
          </template>
        </ViewerPreview>
      </BlockSuspenseUI>
    </section>

    <section :class="`${$style.section} ${$style.menuSection}`">
      <ViewerQuickLinks/>
    </section>

    <section :class="[$style.section, $style.createPostSection]">
      <BlockSuspenseUI :loading="isLoading" :error="error?.message">
        <router-link :to="{ name: Routes.POST_EDITOR }" :class="$style.createPostButton">
          <IconFilledButtonUI>
            <template #left-icon>
              <PlusIcon :class="$style.createPostIcon"/>
            </template>
            <template #right-icon>
              Создать пост
            </template>
          </IconFilledButtonUI>
        </router-link>
      </BlockSuspenseUI>
      <BlockSuspenseUI :loading="isLoading" :error="error?.message">
        <router-link class="font-small color-primary-1" :to="{ name: Routes.DRAFTS }">
          Мои черновики
        </router-link>
      </BlockSuspenseUI>
    </section>
  </div>
</template>

<style module lang="scss">
.container {
  padding: 32px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-gray-98);
  font: var(--font-text);
  color: var(--color-gray-22);
  border-radius: var(--style-radius-10);
  width: 100%;
  gap: 32px;
}

.section {
  display: flex;
  justify-items: start;
  align-items: center;
  width: 100%;
}

.menuSection {
  align-items: start;
  flex-direction: column;
  gap: 16px;
}

.createPostSection {
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.createPostButton {
  gap: 10px;
  width: 100%;
  font: var(--font-text);
}
.createPostButton > * {
  width: 100%;
  height: 40px;
}

.createPostIcon {
  width: 12px;
  height: 12px;
  color: var(--color-contrast-primary-1);
}
</style>
