<script setup lang="ts">
const { transparent, secondLayer } = defineProps<{
	transparent?: boolean;
	secondLayer?: boolean;
}>()
</script>

<template>
	<div :class="[$style.container, {
		'color-bg-gray-98': !transparent,
		[$style.secondLayer]: secondLayer,
	}]">
		<slot></slot>
	</div>
</template>

<style module lang='scss'>
.container,
.secondLayer {
	position: sticky;
	display: flex;
	flex-wrap: wrap;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

@media screen and (max-width: $screen-sm) {
	.secondLayer {
		top: 55px;
		background: var(--color-gray-98);
	}
}
</style>
