<script setup lang="ts">
</script>

<template>
	<div :class="$style.container">
		<div :class="$style.loader"/>
    <span><slot/></span>
  </div>
</template>

<style module lang="scss">
.container {
	padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
	width: 100%;
	height: 100%;
	background-color: var(--color-gray-98);
	color: var(--color-gray-14);
	border-radius: var(--style-radius-10);
	font: var(--font-text);
}

.loader {
  position: relative;
	display: block;
  width: 24px;
  height: 24px;
}

.loader::after,
.loader::before {
  content: '';
  position: absolute;
  background-color: var(--color-primary-1);
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  animation: pulse 2.5s linear infinite;
	z-index: 2;
}

.loader::after {
  animation-delay: 1.25s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
</style>
