<script setup lang="ts">
import {ErrorUI} from '../error-ui';

import LoaderUI from './LoaderUI.vue';
import type {SuspenseUIProps} from './types';

const props = defineProps<SuspenseUIProps>();
</script>

<template>
	<LoaderUI v-if="props.loading">
		<slot />
	</LoaderUI>

	<ErrorUI v-else-if="props.error">
		{{ props.error }}
	</ErrorUI>

	<slot v-else />
</template>

<style module lang="scss"></style>
