<script setup lang="ts">
import type {RouteRecordRaw} from "vue-router";

import {SiteNavigationLinkMobile} from "@/features/site-navigation-links";

import {Routes} from '@/shared/lib/navigation';
import {SocialTgIcon, SocialVkIcon} from '@/shared/ui/assets'
import {IconSizes, Icon} from "@/shared/ui/components/icon";
import {TextLink} from '@/shared/ui/components/link';

// const selectedOption = ref(null);
// const options = ref<Option[]>([
// 	{ text: 'Лига капибар', value: '1' },
// 	{ text: 'Лига капибар 1', value: '2' },
// 	{ text: 'Лига капибар 2', value: '3' }
// ]);

const additionalLinks: RouteRecordRaw[] = [];
</script>

<template>
	<div :class="$style.navigationPanel">
		<SiteNavigationLinkMobile/>
		<!--				<div :class="$style.searchBlock">-->
		<!--					<SearchInputUI model-value="" placeholder="Найти пост..." />-->
		<!--				</div>-->
	</div>
	<div v-if="additionalLinks.length > 0" :class="$style.footer">
		<div :class="$style.footerLinks">
			<!--					<TextLink :to="{ name: Routes.NOT_FOUND }" :class="$style.footerLink">-->
			<!--						<Icon :size="IconSizes.SIXTEEN">-->
			<!--							<BugIcon />-->
			<!--						</Icon>-->
			<!--						<span>Сообщить о багах</span>-->
			<!--					</TextLink>-->
			<TextLink
				v-for="(item, index) in additionalLinks"
				:class="$style.footerLink"
				:key="index"
				:to="item.path"
			>
				<span>{{ item.meta?.title }}</span>
			</TextLink>
		</div>
		<div :class="$style.socialLinks">
			<router-link :to="{ name: Routes.NOT_FOUND }">
				<Icon :size="IconSizes.SIXTEEN">
					<SocialVkIcon/>
				</Icon>
			</router-link>
			<router-link :to="{ name: Routes.NOT_FOUND }">
				<Icon :size="IconSizes.SIXTEEN">
					<SocialTgIcon/>
				</Icon>
			</router-link>
		</div>
	</div>
<!--		<template>-->
<!--			TODO-->
<!--			Виджет группы-->
<!--			<div :class="[$style.navigationPanel, $style.profilePanel]">-->
<!--				<span :class="$style.title">Управление группой</span>-->
<!--				<SelectUI-->
<!--					:class="$style.chooseGroup"-->
<!--					:options="options"-->
<!--					attractor-placeholder="Выберите группу"-->
<!--					v-model="selectedOption"-->
<!--				/>-->
<!--				<div :class="[$style.links, $style.profileLinks]">-->
<!--					<TextLink-->
<!--						v-for="(item, index) in groupLinks"-->
<!--						:key="index"-->
<!--						:class="[$style.link, $style.profileLink]"-->
<!--						:to="item.path"-->
<!--					>-->
<!--						&lt;!&ndash; TODO						&ndash;&gt;-->
<!--						<span>{{ item.meta?.title }}</span>-->
<!--						<NotificationTextUI v-if="item.notifications" :attract="!!item.attract">{{-->
<!--							item.notifications-->
<!--						}}</NotificationTextUI>-->
<!--					</TextLink>-->
<!--				</div>-->
<!--				<div :class="$style.buttons">-->
<!--					<div :class="[$style.button, $style.buttonFilled]">-->
<!--						<Icon :size="IconSizes.EIGHT">-->
<!--							<PlusIcon />-->
<!--						</Icon>-->
<!--						<TextLink :to="{ name: Routes.NOT_FOUND }">Создать пост</TextLink>-->
<!--					</div>-->
<!--					<div :class="$style.button">-->
<!--						<TextLink :to="{ name: Routes.NOT_FOUND }">Добавить пользователей</TextLink>-->
<!--					</div>-->
<!--					<div :class="[$style.button, $style.buttonBorderless]">-->
<!--						<TextLink :to="{ name: Routes.NOT_FOUND }">Выйти из группы</TextLink>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->

<!--			 TODO-->
<!--			Виджет модерации-->
<!--			<div :class="[$style.navigationPanel, $style.profilePanel]">-->
<!--				<span :class="$style.title">Модерация</span>-->
<!--				<div :class="[$style.links, $style.profileLinks]">-->
<!--					<TextLink-->
<!--						v-for="(item, index) in moderationLinks"-->
<!--						:key="index"-->
<!--						:class="[$style.link, $style.profileLink]"-->
<!--						:to="item.path"-->
<!--					>-->
<!--						&lt;!&ndash; TODO						&ndash;&gt;-->
<!--						<span>{{ item.meta?.title }}</span>-->
<!--						<NotificationTextUI v-if="item.notifications" :attract="!!item.attract">{{-->
<!--							item.notifications-->
<!--						}}</NotificationTextUI>-->
<!--					</TextLink>-->
<!--				</div>-->
<!--			</div>-->
<!--		</template>-->
</template>

<style module>
.navigationPanel {
	flex-grow: 1;
	padding: 20px 12px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--color-gray-98);
	color: var(--color-gray-14);
}

.active {
	font: var(--font-sub-title-bold);
	color: var(--color-primary-2);
}

.activeDark {
	background-color: #000000;
	border-radius: 6px 0 0 6px;
}

.searchBlock {
	height: fit-content;
	position: relative;
}

.footer {
	display: flex;
	gap: 20px;
	padding: 20px;
	flex-direction: column;
	background-color: var(--color-gray-95);
}

.footerLinks {
	display: flex;
	gap: 20px;
	flex-direction: column;
	font: var(--font-text);
	color: var(--color-gray-53);
}

.footerLink {
	display: flex;
	justify-content: start;
	align-items: center;
	cursor: pointer;
	gap: 8px;
}

.socialLinks {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.socialLinks a {
  padding: 8px;
	background-color: rgba(54, 52, 59, 1);
  display: flex;
  justify-items: center;
  align-items: center;
	border-radius: 8px;
}

.title {
	font: var(--font-title);
	color: var(--color-gray-22);
}

.chooseGroup {
	width: 245px;
}
</style>
