<script setup lang="ts">
import {ref, onMounted} from 'vue';
import {useRouter} from "vue-router";

import {usePostStore, PostStatusEnum, usePostCollapse} from "@/entities/post";

import {Routes} from '@/shared/lib/navigation';
import {ArrowDownIcon, ArrowIcon} from '@/shared/ui/assets';
import {ErrorUI} from "@/shared/ui/components/error-ui";
import {IconSizes, Icon} from "@/shared/ui/components/icon";
import {IconTextButtonUI} from '@/shared/ui/components/icon-button-ui';


import {PostContentTypes} from '../model/types';

import PostBlockHTML from "./PostBlockHTML.vue";
import PostBlockImage from "./PostBlockImage.vue";
import type {PreviewPostProps} from './types';

const {post} = defineProps<PreviewPostProps>();

const router = useRouter();
const postStore = usePostStore();

const postElement = ref<HTMLDivElement | null>(null);
const collapse = usePostCollapse();

const onTitleClick = () => {
  switch (post.status) {
    case PostStatusEnum.PUBLISHED:
      router.push({name: Routes.POST, params: {slug: post.slug}});
      postStore.setPost(post);
      break;
  }
}

onMounted(() => {
	if (postElement.value !== null) {
		collapse.setup(postElement.value);
	}
});
</script>

<template>
  <main :class="[$style.container, 'color-bg-gray-98']" ref="postElement">
    <header :class="$style.header" v-if="$slots.header">
      <slot name="header" :profile="post.author"></slot>
    </header>

    <main :class="$style.main">
      <div :class="$style.title">
        <h1 class="font-title" @click="onTitleClick">
          <!-- TODO temp design -->
          <a :href="`/post/${post.slug}`">{{ post.title }}</a>
        </h1>
        <span class="font-smaller">
          <slot name="tags"/>
        </span>
      </div>

      <div :class="[$style.content, 'font-text', {[$style.contentCollapsed]: collapse.collapsed.value}]">
        <template v-for="(content, index) in post.content">
          <PostBlockImage
              :key="`${PostContentTypes.IMAGE}-${index}`"
              v-if="content.type === PostContentTypes.IMAGE"
              :src="content.value || content.src"
              :width="content.width || 300"
              :height="content.height || 300"
          />

          <PostBlockHTML
              :key="`${PostContentTypes.HTML}-${index}`"
              v-else-if="content.type === PostContentTypes.HTML || content.type === PostContentTypes.TEXT"
              :html="content.value"
          />

          <ErrorUI v-else :key="index">
            {{ content }} - неизвстный тип контента!
          </ErrorUI>
        </template>
      </div>

      <IconTextButtonUI
          v-if="collapse.collapsable.value && postElement"
          @click="collapse.toggleCollapsed(postElement)"
          :class="$style.buttonCollapse"
      >
        <template #text>
          <span>{{ collapse.collapsed.value ? 'Развернуть' : 'Свернуть' }}</span>
        </template>

        <template #right-icon>
          <Icon :size="IconSizes.TWELVE">
            <ArrowDownIcon v-if="collapse.collapsed.value"/>
            <ArrowIcon v-else :class="$style.arrowIcon"/>
          </Icon>
        </template>
      </IconTextButtonUI>
    </main>

    <footer :class="$style.footer" v-if="$slots.footer">
      <slot name="footer"></slot>
    </footer>
  </main>
</template>

<style module lang="scss">
.container {
  display: flex;
  justify-items: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 32px 0;
  border-radius: var(--style-radius-10);
}

.header {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  color: var(--color-gray-14);
}

.title {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.arrowIcon {
  width: 10px;
  height: 6px;
}

.contentCollapsed {
  max-height: 390px;
  overflow-y: hidden;
}

.buttonCollapse {
  padding: 0 24px;
  color: var(--color-primary-2);
  justify-content: left;
  width: 100%;
}

.buttonCollapse:hover {
  color: var(--color-primary-1);
}

.footer {
  padding: 24px 24px 0 24px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid var(--color-base-bg);
  color: var(--color-gray-53);
}

@media screen and (max-width: $screen-sm) {
  .container {
    padding: 20px 0 0 0;
    border-radius: 0;
  }
  .main {
    gap: 12px;
  }
  .footer {
    padding: 16px 20px;
  }
}
</style>
