<script setup lang="ts">
type PostBlockImageProps = {
  html: string
}

const props = defineProps<PostBlockImageProps>();
</script>

<template>
  <div
      :class="$style.textItem"
      v-html="props.html"
  />
</template>

<style module lang="scss">
.textItem {
  padding: 0 24px;

  * {
    outline: none;
  }

  ul, ol {
    margin-left: 1em;
  }

  a {
    text-decoration: underline;
    color: var(--color-primary-1);
  }
  a:hover {
    cursor: pointer;
  }
}
</style>
