<script setup lang="ts">
import {ref, useCssModule, computed} from "vue";

type PostBlockImageProps = {
  width: number,
  height: number,
  src: string,
}

const props = defineProps<PostBlockImageProps>();
const container = ref<HTMLDivElement | null>(null);

const style =  useCssModule();
const positions = {
	'CENTER': style.center,
	'LEFT': style.left,
	'FULL': style.full,
};
const picturePosition = computed(() => {
	const div = container.value;

	if (!div) {
		return positions.LEFT;
	}

	if (props.width > div.offsetWidth) {
		return positions.FULL;
	} else if (props.width > ((div.offsetWidth / 3) * 2)) {
		return positions.CENTER;
	}

  return positions.LEFT;
});
</script>

<template>
  <div :class="[$style.imageContainer, picturePosition]" ref="container">
    <img
        :src="props.src"
        alt="Post Image"
        :class="$style.image"
        :style="{ width: props.width, height: props.height }"
    />
  </div>
</template>

<style module lang="scss">
.imageContainer {
  padding: 0 24px;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
}
.center {
	justify-content: center;
}
.left {
	justify-content: start;
}
.full {
	padding: unset;
	justify-content: center;
}


.image {
  max-width: 100%;
}
</style>
