<script setup lang="ts">

import {useRoute} from "vue-router";

import type {PostPublished} from "@/entities/post";
//todo this is should not be here
// eslint-disable-next-line
import {useInvertedPostActions} from '@/entities/user';
import {Routes} from '@/shared/lib/navigation';
import {CommentIcon} from "@/shared/ui/assets";
import {IconSizes, Icon} from "@/shared/ui/components/icon";
import {TextLink} from "@/shared/ui/components/link";

type PostPreviewFooterProps = {
  post: PostPublished
};

const { params } = useRoute();
const { post } = defineProps<PostPreviewFooterProps>();

const inverted = useInvertedPostActions();
</script>

<template>
  <div :class="[$style.container, { [$style.actionsInverted]: inverted }]">
    <div :class="[$style.leftSection, { [$style.actionsInverted]: inverted }]">
      <slot name="left-actions"/>

			<TextLink
				:to="{ name: Routes.POST, params: { slug: post.slug }}"
				:class="$style.commentsLink"
				v-if="params.slug !== post.slug"
			>
				<Icon :size="IconSizes.TWENTY_FOUR">
					<CommentIcon/>
				</Icon>
				<span>{{ post.comments_count }}</span>
			</TextLink>
      <div v-else :class="$style.commentsLink">
        <Icon :size="IconSizes.TWENTY_FOUR">
          <CommentIcon/>
        </Icon>
        <span>{{ post.comments_count }}</span>
      </div>
    </div>

    <div :class="[$style.rightSection, { [$style.actionsInverted]: inverted }]">
      <slot name="right-actions"/>
    </div>
  </div>
</template>

<style module>
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font: var(--font-small);
  color: var(--color-gray-53);
}

.actionsInverted {
  flex-direction: row-reverse;
}

.leftSection,
.rightSection {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 24px;
}

.commentsLink {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 4px;
}
</style>
