<script setup lang="ts">
import { ArrowIcon } from '@/shared/ui/assets';
import { IconTextButtonUI } from '@/shared/ui/components/icon-button-ui';

//TODO connect to api
//This component has been commented out because its
// functionality is not ready
</script>

<template>
	<IconTextButtonUI disabled>
		<template #text><span class="font-text">158 постов прочитано</span></template>
		<template #right-icon><ArrowIcon :class="$style.arrowIcon" /></template>
	</IconTextButtonUI>
</template>

<style module lang="scss">
.arrowIcon {
	width: 10px;
	height: 6px;
}
</style>
