<script setup lang='ts'>
import { useSidebar } from '@/features/sidebars';
import {ViewerQuickLinksMobile} from "@/features/viewer-quick-links";

import { Routes } from '@/shared/lib/navigation';
import {PlusIcon} from '@/shared/ui/assets';
import {Icon, IconSizes} from '@/shared/ui/components/icon';
import {TextLink} from '@/shared/ui/components/link';

const sidebarStore = useSidebar();
const { closeSidebar } = sidebarStore;
</script>

<template>
	<div :class="$style.navigationPanel">
		<ViewerQuickLinksMobile @logout="closeSidebar" />

		<div :class="$style.buttons">
			<div :class="[$style.button, $style.buttonFilled]">
				<Icon :size="IconSizes.EIGHT">
					<PlusIcon />
				</Icon>
				<TextLink :to="{ name: Routes.POST_EDITOR }">Создать пост</TextLink>
			</div>
			<!--					<div :class="$style.button">-->
			<!--						<TextLink :to="{ name: Routes.NOT_FOUND }">Создать группу</TextLink>-->
			<!--					</div>-->
			<div :class="[$style.button, $style.buttonBorderless]">
				<TextLink :to="{ name: Routes.DRAFTS }">Мои черновики</TextLink>
			</div>
		</div>
	</div>
</template>

<style module lang='scss'>
.navigationPanel {
	padding: 20px 12px;
	display: flex;
	flex-direction: column;
	background-color: var(--color-gray-98);
	color: var(--color-gray-14);
	flex-grow: 1;
	gap: 20px;
}

.buttons {
	display: flex;
	justify-items: start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 20px;
}

.button {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	height: 40px;
	color: var(--color-primary-1);
	font: var(--font-text);
	border: 1px solid var(--color-primary-1);
	border-radius: var(--style-radius-24);
}

.buttonFilled {
	background-color: var(--color-primary-1);
	color: var(--color-contrast-primary-1);
}

.buttonBorderless {
	border: none;
}
</style>
