<script lang="ts" setup>
import { computed } from 'vue';

export type CommentsLinkProps = {
	topLine?: boolean;
	bottomLine?: boolean;
	leftLine?: boolean;
	rightLine?: boolean;
};

const props = withDefaults(defineProps<CommentsLinkProps>(), {
	bottomLine: false,
	leftLine: false,
	rightLine: false,
	topLine: false
});

const hasVerticalDivider = computed(() => props.topLine || props.bottomLine);
const hasHorizontalDivider = computed(() => props.leftLine || props.rightLine);
</script>

<template>
	<div :class="$style.container">
		<div v-if="props.topLine" :class="$style['top-line']"></div>
		<div v-if="props.leftLine" :class="$style['left-line']"></div>
		<div
			name="central"
			v-if="hasVerticalDivider && hasHorizontalDivider"
			:class="$style['central']"
		></div>
		<div v-if="props.rightLine" :class="$style['right-line']"></div>
		<div v-if="props.bottomLine" :class="$style['bottom-line']"></div>
	</div>
</template>

<style module lang="scss">
.container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 1fr auto 1fr;
	grid-template-areas:
		'empty-1 top-line empty-2'
		'left-line central right-line'
		'empty-3 bottom-line empty-4';
}
@mixin horizontal-divider {
	width: 100%;
	border: 0.5px solid;
	border-color: inherit;
}
@mixin vertical-divider {
	height: 100%;
	border: 0.5px solid;
	border-color: inherit;
}
.central {
	grid-area: central;
	width: 100%;
	height: 100%;
	border-color: inherit;
}
.top-line {
	grid-area: top-line;
	@include vertical-divider;
}
.left-line {
	grid-area: left-line;
	@include horizontal-divider;
}
.right-line {
	grid-area: right-line;
	@include horizontal-divider;
}
.bottom-line {
	grid-area: bottom-line;
	@include vertical-divider;
}
</style>
