<script lang="ts" setup>
export type CommentsLinkProps = {
	topLine?: boolean;
	bottomLine?: boolean;
};

const props = withDefaults(defineProps<CommentsLinkProps>(), {
	bottomLine: false,
	topLine: false
});
</script>

<template>
	<div :class="$style.container">
		<div v-if="props.topLine" :class="$style.wrapper"><div :class="$style.divider" /></div>
		<div :class="$style.action"><slot></slot></div>
		<div v-if="props.bottomLine" :class="$style.wrapper"><div :class="$style.divider" /></div>
	</div>
</template>

<style module>
.container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	grid-template-areas:
		'top-line'
		'action'
		'bottom-line';
}
.top-line {
	grid-area: top-line;
}
.action {
	grid-area: action;
}
.bottom-line {
	grid-area: bottom-line;
}
.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	border-color: inherit;
}
.divider {
	height: 100%;
	border: 0.5px solid;
	border-color: inherit;
}
.action {
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>
