<template>
	<div :class="$style.wrapper"><div :class="$style.divider" /></div>
</template>

<style module>
.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.divider {
	height: 100%;
	border: 0.5px solid;
	border-color: inherit;
}
</style>
