<script setup lang='ts'>
import type {IQuoteProps} from './types';

const { text } = defineProps<IQuoteProps>();
</script>

<template>
	<div :class="$style.container">«{{ text }}»</div>
</template>

<style module lang='scss'>
.container {
	width: 100%;
	border-radius: 8px;
	padding: 16px;
	background: var(--color-gray-95);
	font: var(--font-description);
	color: var(--color-gray-53);
}
</style>
