<script setup lang='ts'>
import {notify} from "@kyvg/vue3-notification";
import {useRoute} from "vue-router";


import {useCommentDraftController, createImageItem, useCommentsStore, type Comment} from '@/entities/comment';

import {CloseIcon} from "@/shared/ui/assets";
import {ButtonUI, EmptyButtonUI} from '@/shared/ui/components/button-ui';
import {ErrorUI} from "@/shared/ui/components/error-ui";
import {IconSizes, Icon} from "@/shared/ui/components/icon";
import type {ImageDataType} from "@/shared/ui/components/image-field";
import {SmallImageField} from "@/shared/ui/components/image-field";

import CommentTextEditor from "./ui/CommentTextEditor.vue";


const emits = defineEmits(['cancel', 'saved']);
const props = defineProps<{ parent?: Comment }>();

const {params} = useRoute();
const draftController = useCommentDraftController();
const commentsStore = useCommentsStore();

const onImageLoad = (image: ImageDataType) => {
  draftController.addImages(createImageItem(image.src, image.width, image.height));
};

const onSave = async () => {
  const slug = params.slug as string;

  if (!slug) {
    return;
  }

  const parent = props.parent;
  let comment: Comment | null;

  if (parent) {
    comment = await draftController.save(slug, parent.uuid);
  } else {
    comment = await draftController.save(slug);
  }

  if (!comment) {
    return;
  }

  draftController.reset();
  commentsStore.addComment(comment, parent);
  emits('saved');
  notify('Комментарий успешно опубликован');
};

const onCancel = () => {
  emits('cancel');
  draftController.reset();
}
</script>

<template>
  <div :class="$style.container" v-if="params.slug">
    <ErrorUI v-if="draftController.error.value">
      {{ draftController.error.value.message }}
    </ErrorUI>

    <CommentTextEditor v-model="draftController.text.value"/>

    <section :class="$style.imagesSection" v-if="draftController.images.value.length > 0">
      <div v-for="(item, index) in draftController.images.value" :key="index" :class="$style.image">
        <div :class="$style.removeImageIcon" @click="draftController.removeImage(index)">
          <Icon :size="IconSizes.EIGHT">
            <CloseIcon/>
          </Icon>
        </div>
        <img :class="$style.imagePreview" :src="item.src" alt="Comment Image"/>
      </div>
      <SmallImageField
          :class="$style.bigImageLoader"
          @image-loaded="onImageLoad"
      />
    </section>

    <div :class="$style.footer">
      <div :class="$style.buttons">
        <ButtonUI @click="onSave" :is-loading="draftController.isLoading.value">Отправить</ButtonUI>
        <EmptyButtonUI @click="onCancel()">Отменить</EmptyButtonUI>
      </div>
      <SmallImageField
          v-if="draftController.images.value.length === 0"
          :class="$style.imageLoader"
          @image-loaded="onImageLoad"
      />
    </div>
  </div>
</template>

<style module lang='scss'>
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  color: var(--color-gray-22);
}

.imagesSection {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.image {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: var(--style-radius-8);
  overflow: hidden;
}

.removeImageIcon {
  padding: 6px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--style-radius-10);
  background-color: var(--color-gray-98);
  color: var(--color-gray-22);
  z-index: 1;
  cursor: pointer;
}

.removeImageIcon:hover {
  color: var(--color-primary-1);
}

.imagePreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageLoader {
  width: 40px;
  height: 40px;
}

.bigImageLoader {
  width: 96px;
  height: 96px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.buttons > * {
  flex-basis: 160px;
}
</style>
