<template>
  <div :class="$style.desktop">
    <notifications width="450px" position="top center" :classes="$style.container"/>
  </div>
  <div :class="$style.mobile">
    <notifications width="350px" position="top center" :classes="$style.container"/>
  </div>
</template>

<style module lang="scss">
.desktop, .mobile {
  display: none;
}

.container {
  margin-top: 32px;
  padding: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-gray-98);
  color: var(--color-gray-22);
  border-radius: var(--style-radius-10);
  border: 2px solid var(--color-gray-95);
  font: var(--font-text);
  cursor: pointer;
}

@media screen and (min-width: $screen-xs) and (max-width: $screen-xl) {
  .mobile {
    display: block;
  }
}

@media screen and (min-width: $screen-xl) {
  .desktop {
    display: block;
  }
}
</style>
