<script setup lang="ts">
import {Routes} from '@/shared/lib/navigation';
import { TextLink } from '@/shared/ui/components/link';

const { tags } = defineProps<{ tags: String[] }>();
</script>

<template>
	<div :class="$style.container">
		<TextLink :to="{ name: Routes.NOT_FOUND }" v-for="(tag, index) in tags" :key="index">
			<span>{{ tag }}</span>
		</TextLink>
	</div>
</template>

<style module>
.container {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
	font: var(--font-small);
	color: var(--color-gray-53);
}
</style>
