<script setup lang="ts">
import {useCssModule} from 'vue';

import type {IconProps} from './types';

const {size, clickable, disabled} = defineProps<IconProps>();
const style = useCssModule();
const iconClass = [style[size]];

if (clickable) {
  iconClass.push(style.clickable);
}
</script>

<template>
  <i :class="[$style.icon, iconClass, {[$style.disabled]: disabled}]">
    <slot/>
  </i>
</template>

<style module lang="scss">
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon > svg {
  width: inherit;
  height: inherit;
}

.clickable {
  cursor: pointer;
}

.disabled {
  color: var(--color-gray-80);
  cursor: default;
  pointer-events: none;
}

.eight {
  width: 8px;
  height: 8px;
}

.ten {
  width: 10px;
  height: 10px;
}

.twelve {
  width: 12px;
  height: 12px;
}

.sixteen {
  width: 16px;
  height: 16px;
}

.eighteen {
  width: 18px;
  height: 18px;
}

.twenty {
	width: 20px;
	height: 20px;
}

.twentyFour {
  width: 24px;
  height: 24px;
}

.thirtyTwo {
  width: 32px;
  height: 32px;
}

.thirtySix {
  width: 36px;
  height: 36px;
}

.forty {
	width: 40px;
	height: 40px;
}

.fortyEight {
  width: 48px;
  height: 48px;
}

.sixtyFour {
  width: 64px;
  height: 64px;
}

.ninetySix {
  width: 96px;
  height: 96px;
}
</style>
