<script setup lang="ts">
type CommentBlockImageProps = {
  src: string,
}

const props = defineProps<CommentBlockImageProps>();
</script>

<template>
  <div :class="$style.imageContainer" v-if="props.src">
    <img :src="props.src" alt="Post Image" :class="$style.image"/>
  </div>
</template>

<style module lang="scss">
.imageContainer {
  display: flex;
  justify-content: start;
  align-items: start;
}
.image {
  max-height: 250px;
  max-width: 100%;
  object-fit: scale-down;
  border-radius: 4px;
}
</style>
