<script setup lang="ts">
import {ErrorUI} from "@/shared/ui/components/error-ui";

import type {CommentContent} from "../types";
import {CommentContentTypes} from "../types";

import CommentBlockHTML from "./CommentBlockHTML.vue";
import CommentBlockImage from "./CommentBlockImages.vue";

const props = defineProps<{ content: CommentContent }>();
</script>

<template>
  <template v-for="(block, index) in props.content">
    <CommentBlockImage
        v-if="block.type === CommentContentTypes.IMAGE"
        :key="`${CommentContentTypes.IMAGE}-${index}`"
        :src="block.src"
    />

    <CommentBlockHTML
        v-else-if="block.type === CommentContentTypes.HTML"
        :key="`${CommentContentTypes.HTML}-${index}`"
        :html="block.value"
    />

    <ErrorUI v-else :key="index">
      {{ block }} - данный тип данных не поддерживается
    </ErrorUI>
  </template>
</template>

<style module lang="scss">

</style>
