<script setup lang="ts">
type CommentBlockImageProps = {
  html: string
}

const props = defineProps<CommentBlockImageProps>();
</script>

<template>
  <div
      v-if="props.html"
      :class="$style.textItem"
      v-html="props.html"
  />
</template>

<style module lang="scss">
.textItem {
  font: var(--font-text);
  color: var(--color-gray-22);

  * {
    outline: none;
  }

  ul, ol {
    margin-left: 1em;
  }

  a {
    text-decoration: underline;
    color: var(--color-primary-1);
  }
  a:hover {
    cursor: pointer;
  }
}
</style>
