<script setup lang="ts">
type TooltipUIProps = {
	containerClass?: string,
	top?: boolean
};

const props = defineProps<TooltipUIProps>();
</script>

<template>
  <div :class="[$style.container, props.containerClass? props.containerClass : $style.background]">
		<span v-if="props.top" :class="[$style.arrow, $style.arrowTop]"></span>
		<slot></slot>
		<span v-if="!props.top" :class="$style.arrow"></span>
	</div>
</template>

<style module lang="scss">
.container {
	border-radius: var(--style-radius-5);
	position: relative;
}

html[data-color-schema="dark"] .container {
	box-shadow: 0 2px 3px var(--color-black-0-30),
							0 6px 10px 4px var(--color-black-0-15);
}

.arrow {
	position: absolute;
	left: calc(50% - 5px);
	bottom: -10px;
	height: 10px;
	width: 10px;
	border-top: 5px solid;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.arrowTop {
  bottom: unset;
	top: -10px;
  border-top: unset;
	border-bottom: 5px solid;
}

.background {
  background-color: var(--color-gray-22);
  color: var(--color-gray-22);
}
</style>
