<script setup lang='ts'>

import {PostDrafts} from "@/widgets/post-drafts-widget";

import {PageLayout, MobilePageLayout} from "../ui/page-layout";
</script>

<template>
  <PageLayout>
		<template #content>
			<PostDrafts/>
		</template>
	</PageLayout>

	<MobilePageLayout>
		<template #content>
			<PostDrafts/>
		</template>
	</MobilePageLayout>
</template>

<style module lang='scss'>
</style>
