<script setup lang='ts'>
import {onMounted, computed} from "vue";
import {useRouter} from "vue-router";

import {Post} from "@/entities/post";
import {useDraftStore, type PostDraft} from '@/entities/post';
import {
	PostsFeed, useDraftsPresenter
} from "@/entities/posts-feed";
import {TagsList} from '@/entities/tag';
import {useRedirectUnauthorized, useViewerStore} from "@/entities/user";

import {Routes} from '@/shared/lib/navigation';
import {ElongatedBlockUI} from "@/shared/ui/components/block-ui";
import {ButtonUI, EmptyButtonUI} from '@/shared/ui/components/button-ui';
import {ErrorUI} from "@/shared/ui/components/error-ui";
import {FilledLoaderUI} from "@/shared/ui/components/loaders-ui";

import PostDraftHeader from "./PostDraftHeader.vue";

const router = useRouter();
const draft = useDraftStore();
const viewer = useViewerStore();
const feed = useDraftsPresenter();

const isLoading = computed(() => feed.isLoading || viewer.isLoading);

const onEditPost = (post: PostDraft) => {
  draft.setPost(post);
  router.push({name: Routes.POST_EDITOR, params: {slug: post.slug}});
};

const onRemoveDraft = async (post: PostDraft) => {
	draft.setPost(post);
  await draft.remove();
	feed.cut(post.slug);
};

const onPublish = (post: PostDraft) => {
  draft.setPost(post);
  router.push({name: Routes.POST_PUBLISHED, params: {slug: post.slug}});
}

onMounted(() => {
	useRedirectUnauthorized(router);
});
</script>

<template>
  <FilledLoaderUI :class="$style.loader" v-if="isLoading">Загружаем черновики..</FilledLoaderUI>

  <div :class="$style.container" v-else>
    <PostDraftHeader :count="feed.posts.length"/>
    <PostsFeed
        :is-loading="feed.isLoading"
        :is-last-page="feed.isLastPage"
        :error="feed.error? feed.error.message : null"
        :posts="feed.posts"
    >
      <template #post="{post}">
        <Post :post="post">
          <template #tags>
            <TagsList :tags="post.tags"/>
          </template>

          <template #footer>
						<div :class="$style.footer">
							<ErrorUI v-if="draft.error && draft.post?.slug === post.slug">
								{{ draft.error.message }}
							</ErrorUI>

							<div :class="[$style.block, $style.actions]">
								<ButtonUI @click="onPublish(post)" stretched :is-loading="draft.isLoading">
									Опубликовать
								</ButtonUI>

								<ButtonUI stretched @click="onEditPost(post)" :is-loading="draft.isLoading">Редактировать</ButtonUI>

								<EmptyButtonUI @click="onRemoveDraft(post)" :is-loading="draft.isLoading">Удалить</EmptyButtonUI>
							</div>
						</div>
          </template>
        </Post>
      </template>

			<template #all-loaded>
				<ElongatedBlockUI>
					Все черновики просмотрены!
				</ElongatedBlockUI>
			</template>
    </PostsFeed>
  </div>
</template>

<style module lang='scss'>
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.block {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.actions > * {
  width: 30%;
}

.columns {
  width: 100%;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 24px;
}

@media screen and (max-width: $screen-md) {
  .block {
    padding-bottom: 20px;
  }

  .actions {
    padding: 20px 12px;
    gap: 8px;
  }
}
</style>
