<script setup lang="ts">
import {CommentsTreeWidget} from "@/widgets/comments-tree-widget";
import { CommentsWidget } from '@/widgets/comments-widget';
import { PostViewWidget } from '@/widgets/post-view-widget';

import { MobilePageLayout, PageLayout } from '../ui/page-layout';
</script>

<template>
	<PageLayout>
		<template #content>
			<PostViewWidget />
      <CommentsWidget>
        <template #comments>
          <CommentsTreeWidget/>
        </template>
      </CommentsWidget>
		</template>
	</PageLayout>

	<MobilePageLayout>
		<template #content>
      <PostViewWidget />
      <CommentsWidget>
        <template #comments>
          <CommentsTreeWidget/>
        </template>
      </CommentsWidget>
		</template>
	</MobilePageLayout>
</template>

<style scoped lang="scss"></style>
