<script setup lang="ts"></script>

<template>
	<main :class="$style.container">
		<slot />
	</main>
</template>

<style module lang="scss">
.container {
	display: flex;
	justify-items: center;
	align-items: start;
	flex-direction: column;
  height: 100%;
	width: 100%;
	max-width: 786px;
}

@media screen and (max-width: $screen-xl) {
	.container {
		padding: 0 12px;
	}
}

@media screen and (max-width: $screen-sm) {
	.container {
		padding: 0;
	}
}
</style>
