<script setup lang="ts">
import {LinkBreakIcon} from '@/shared/ui/assets';
import {Icon, IconSizes} from '@/shared/ui/components/icon';
</script>

<template>
	<div :class="$style.container">
		<div :class="$style.error">
			<div :class="$style.errorDetail">
				<Icon :class="$style.errorIcon" :size="IconSizes.THIRTY_TWO">
					<LinkBreakIcon />
				</Icon>
				<slot name="error" />
			</div>
		</div>
		<slot name="content" />
	</div>
</template>

<style module lang="scss">
.container {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: var(--style-radius-10);
	overflow: hidden;
}

.error {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-gray-98);
	font: var(--font-text);
	z-index: 1;
}
.errorDetail {
	padding: 32px;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 16px;
}
.errorDetail > i {
	color: #888888;
}
.errorDetail > span {
	color: var(--color-gray-53);
	font-size: 14px;
}

.errorDetail a {
	text-decoration: underline;
}
</style>
