<script setup lang="ts">
import {PublishPostWidget} from '@/widgets/publish-post-widget';

import {PageLayout, MobilePageLayout} from "../ui/page-layout";
</script>

<template>
  <PageLayout>
    <template #content>
      <PublishPostWidget/>
    </template>
  </PageLayout>

  <MobilePageLayout>
    <template #content>
      <PublishPostWidget/>
    </template>
  </MobilePageLayout>
</template>
