<script setup lang="ts">
import {onMounted, ref} from "vue";
import {useRouter, useRoute} from "vue-router";

import {AccountVerificationForm} from "@/features/registration-form";

import {Routes} from '@/shared/lib/navigation';
import {CentralColumn,BlockWindowUI} from "@/shared/ui/components/block-ui";


const router = useRouter();
const route = useRoute();
const code = ref<string | null>(null);

onMounted(() => {
	code.value = route.query.code as string | null;
});
</script>

<template>
	<div :class="$style.activation">
		<CentralColumn :class="$style.column">
			<BlockWindowUI>
				<template #header-right>
					<span></span>
				</template>
				<template #header-left>
					<h3 class="font-sub-title-bold">Подтверждение почты</h3>
				</template>
				<template #body>
					<AccountVerificationForm @submit="router.push(Routes.TRENDS)" :code="code"/>
				</template>
			</BlockWindowUI>
		</CentralColumn>
	</div>
</template>

<style module lang="scss">
.activation {
	padding-top: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.column {
	width: 95%;
}
</style>
