<script setup lang="ts">
import {PageLayout, MobilePageLayout} from "../ui/page-layout";

import AccountVerification from "./AccountVerification.vue";
</script>

<template>
	<PageLayout>
		<template #left-aside><span/></template>
		<template #content>
			<AccountVerification/>
		</template>
		<template #right-aside><span/></template>
	</PageLayout>

	<MobilePageLayout :withHeader="false">
		<template #content>
			<AccountVerification/>
		</template>
	</MobilePageLayout>
</template>
