<script setup lang="ts">
import {routes} from "@/pages";

import {SiteNavigationLinks} from "@/features/site-navigation-links";

import {DarkColorLogo, WhiteColorLogo} from '@/shared/ui/assets';
import {ElongatedBlockUI} from '@/shared/ui/components/block-ui';
import {SearchInputUI} from "@/shared/ui/components/search-input-ui";
</script>

<template>
	<ElongatedBlockUI>
		<section :class="`${$style.section} ${$style.logoSection}`">
			<router-link :to="routes.TRENDS">
				<i :class="[$style.logo, $style.darkLogo]">
					<DarkColorLogo />
				</i>
				<i :class="[$style.logo, $style.lightLogo]">
					<WhiteColorLogo />
				</i>
			</router-link>
		</section>
		<SiteNavigationLinks :class="$style.menuSection"/>
		<section :class="`${$style.section} ${$style.searchSection}`" v-if="false">
			<SearchInputUI model-value="" placeholder="Найти пост..." />
		</section>
	</ElongatedBlockUI>
</template>

<style lang="scss" module>
.section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 24px;
}
.logoSection {
	width: 268px;
	height: 54px;
}
.menuSection {
	justify-content: center;
	align-items: end;
	flex-direction: column;
	width: 100%;
	font: var(--font-sub-title);
	color: var(--color-gray-22);
}
.menuSection > * {
	padding-left: 16px;
	margin-left: 16px;
	display: flex;
	justify-self: center;
	align-items: center;
	height: 40px;
	width: 312px;
}

.logo {
	display: none;
}
//TODO import color-schemas
[data-color-schema='dark'] .lightLogo,
[data-color-schema='light'] .darkLogo,
[data-color-schema='auto'] .darkLogo {
	display: block;
}

.searchSection {
	width: 264px;
	height: 40px;
}
</style>
