<script setup lang="ts">
import { ref } from 'vue';

import { PopupUI } from '@/shared/ui/components/popup-ui';

import type { PostRatingProps } from './types';
import ChangeCommentRating from "./ui/ChangeCommentRating.vue";
import CommentRatingDetails from "./ui/CommentRatingDetails.vue";
import CommentRatingDetailsPopup from "./ui/CommentRatingDetailsPopup.vue";



const { comment } = defineProps<PostRatingProps>();

const isDetailsShown = ref(false);
</script>

<template>
	<div class="font-small color-gray-53">
		<div :class="$style.desktop">
			<CommentRatingDetails
				v-if="isDetailsShown"
				:post="comment"
				@close="isDetailsShown = false"
			/>
			<ChangeCommentRating
				v-else
				:post="comment"
				@show-details="isDetailsShown = true"
      />
		</div>
		<div :class="$style.mobile">
			<PopupUI v-model:open="isDetailsShown">
				<template #popup>
					<CommentRatingDetailsPopup :post="comment" />
				</template>
				<template #anchor>
					<ChangeCommentRating
						:post="comment"
						@show-details="isDetailsShown = true"
					/>
				</template>
			</PopupUI>
		</div>
	</div>
</template>

<style module lang="scss">
.mobile {
	display: none;
}

@media  (max-width: $screen-sm) {
	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}
}
</style>
