<script setup lang="ts">
import { Routes } from '@/shared/lib/navigation';
import { useNavigation } from '@/shared/providers/stores';
import { TextLink } from '@/shared/ui/components/link';

const { getRoute } = useNavigation();

const links = [
	getRoute(Routes.TRENDS),
	getRoute(Routes.NEW),
	getRoute(Routes.TOP),
	getRoute(Routes.DISCUSSED),
	getRoute(Routes.SUBSCRIPTIONS),
	getRoute(Routes.GROUPS),
	getRoute(Routes.TAGS),
];
</script>

<template>
	<div :class="$style.container">
    <template v-for="(item, index) in links" :key="index">
      <TextLink
          v-if="item"
          :class="$style.button"
          :active-class="$style.activeItem"
          :to="item.path"
      >
        <span>{{ item.meta?.title }}</span>
      </TextLink>
    </template>
	</div>
</template>

<style module>
.container {
	display: flex;
	justify-items: start;
	align-items: center;
	gap: 16px;
	width: 100%;
	overflow-x: auto;
	padding: 0 24px;
	box-shadow: 0 1px 3px 0 var(--color-black-0-30);
	color: var(--color-gray-22);
	font: var(--font-sub-title);
}
.container::-webkit-scrollbar {
	display: none;
}

.container a {
	cursor: pointer;
}

.button {
	padding: 16px 4px;
}

.activeItem {
	font-weight: bold;
}

.container .activeItem {
	cursor: default;
}
</style>
