<script setup lang="ts">
import { ref, watch } from 'vue';

import { useAuthStore, useViewerStore } from '@/entities/user';

import { useForm } from "@/shared/lib/use-form";
import { requiredValidator } from '@/shared/lib/validators';
import { ArrowIcon } from '@/shared/ui/assets';
import { ButtonUI } from '@/shared/ui/components/button-ui';
import { ErrorUI } from '@/shared/ui/components/error-ui';
import { InputUI } from '@/shared/ui/components/input-ui';

import type { LoginFormEmits } from './types';

const emits = defineEmits<LoginFormEmits>();
const auth = useAuthStore();
const viewer = useViewerStore();

const form = useForm({
	username: {
		value: null,
		validators: [requiredValidator()],
	},
	password: {
		value: null,
		validators: [requiredValidator()],
	},
});

const unhandledAPIErrors = ref<string[]>([]);
const apiHasErrors = ref<boolean>(false);

//TODO almost duplicate with RegisterForm, PassRecForm
const login = async () => {
	const {username, password} = form.fields;

	unhandledAPIErrors.value = [];
	form.validateAll();

	if (form.hasErrors.value) {
		return;
	}

	await auth.login(username, password);

	//Errors router
	if (auth.error) {
		const error = auth.error;

		if (error.message) {
			unhandledAPIErrors.value = [error.message];
		} else {
			unhandledAPIErrors.value = ['Что-то пошло не так:('];
		}
	} else {
		if (auth.passport?.username) {
			await viewer.load(auth.passport.username);
		} else {
			unhandledAPIErrors.value = ['Не удалось получить пользователя'];
		}
	}
};

watch(unhandledAPIErrors, (value) => (apiHasErrors.value = value.length > 0));
</script>

<template>
	<main :class="$style.main">
		<ErrorUI v-for="(error, index) in unhandledAPIErrors" :key="index">
			<span>{{ error }}</span>
		</ErrorUI>

		<fieldset :class="$style.fieldset">
			<InputUI
				label="Введите ник:"
				show-hint
				v-model="form.fields.username"
				:errors="form.errors.username"
				:is-error="apiHasErrors"
			>
				<template #hint>
					<p>Размер ника от 4 до 16 символов;</p>
					<p>
						Разрешены буквы (a-z, A-Z), цифры (0-9), дефис (-), точка (.), нижнее подчеркивание (_)
					</p>
				</template>
			</InputUI>

			<InputUI
				label="Введите пароль:"
				show-hint
				hide-text
				v-model="form.fields.password"
				:errors="form.errors.password"
				:is-error="apiHasErrors"
			>
				<template #actions>
					<div :class="$style.forgotPassword">
						<span @click="emits('recover-password')">Забыли пароль?</span>
						<ArrowIcon />
					</div>
				</template>
				<template #hint>
					<p>Размер пароля от 8 до 128 символов;</p>
					<p>Разрешены буквы (a-z, A-Z), цифры (0-9) и символы (!@#$%^&*()_-+=);</p>
					<p>Требуется минимум одна буква и минимум одна цифра</p>
				</template>
			</InputUI>
		</fieldset>

		<div :class="$style.buttons">
			<ButtonUI @click="login" :disabled="form.hasErrors.value" :isLoading="auth.isLoading">Войти</ButtonUI>
			<slot name="action-button" />
		</div>
	</main>
</template>

<style module>
.main,
.fieldset {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 32px;
}

.fieldset {
	margin: unset;
	padding: unset;
	border: unset;
	gap: 20px;
}

.forgotPassword {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	color: var(--color-primary-2);
	cursor: pointer;
}

.forgotPassword > svg {
	width: 12px;
	height: 12px;
	transform: rotateZ(180deg);
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 24px;
}

.buttons > * {
	width: 100%;
}
</style>
