<script setup lang="ts" generic="T">
import {onMounted, ref, onUnmounted} from 'vue';

import type {InfinityScrollItemProps, InfinityScrollItemEmits} from '../types';

const emits = defineEmits<InfinityScrollItemEmits>();
const props = defineProps<InfinityScrollItemProps<T>>() as InfinityScrollItemProps<T>;
const element = ref<HTMLDivElement | null>(null);

const options = {
  root: null,
  rootMargin: '0px',
  threshold: 0,
  trackVisibility: true,
  delay: 100,
};
const observer = new IntersectionObserver(([entry]) => {
  // @ts-ignore
  // BECAUSE IS, FUCKING, VISIBLE EXIST, FCK
  if (entry.isVisible) {
    emits('appeared', props.index);
  } else {
    emits('disappeared', props.index);
  }
}, options);

onMounted(() => {
  if (element.value) {
    observer.observe(element.value);
  }
});

onUnmounted(() => {
  observer.disconnect();
});
</script>

<template>
	<div :class="$style.infiniteList" ref="element">
    <template v-if="props.isVisible">
      <slot name="item" :item="props.item" />
    </template>
	</div>
</template>

<style module>
.infiniteList {
	display: block;
	width: 100%;
  height: 100%;
}
</style>
