<script setup lang="ts">
import { computed } from 'vue';

import type { PostRatingDetailsEmits, PostRatingDetailsProps } from './types';

const { post } = defineProps<PostRatingDetailsProps>();
const emits = defineEmits<PostRatingDetailsEmits>();

const gradientString = computed(() => {
	const sum = post.votes_up_count + post.votes_down_count;
	const negativePercent = sum ? (100 * post.votes_down_count / sum) : 50;
	return `background: linear-gradient(to right, var(--color-red-70) 0 ${negativePercent}%, var(--color-primary-1) ${negativePercent}% 100%);`
})

</script>

<template>
	<div
		@click="emits('close')"
		:class="$style.container"
		:style="gradientString"
	>
		<div>{{ post.votes_down_count }}</div>
		<div>{{ post.votes_up_count }}</div>
	</div>
</template>

<style module>
.container {
	min-width: 120px;
	height: 32px;
	border-radius: var(--style-radius-16);
	font: var(--font-text);
	color: var(--color-gray-89);
	background-color: var(--color-red-70);
	background-color: var(--color-primary-1);
	padding: 6px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
</style>
