<script setup lang="ts">
import {notify} from '@kyvg/vue3-notification'
import {onMounted, computed} from "vue";
import {useRouter, useRoute} from "vue-router";

import {TagManagement} from "@/features/tag-management";

import {useDraftStore} from "@/entities/post";
import {useDraftsPresenter} from "@/entities/posts-feed";
import {useRedirectUnauthorized} from "@/entities/user";

import {MAX_DRAFTS_COUNT} from "@/shared/config";
import {Routes} from '@/shared/lib/navigation';
import {UniformBlockUI} from "@/shared/ui/components/block-ui";
import {TextButtonUI, EmptyButtonUI, ButtonUI} from "@/shared/ui/components/button-ui";
import {ErrorUI} from "@/shared/ui/components/error-ui";
import {FilledLoaderUI} from "@/shared/ui/components/loaders-ui";

import PostContentController from "./ui/PostContentController.vue";

const router = useRouter();
const {params} = useRoute();
const draftStore = useDraftStore();
const drafts = useDraftsPresenter();

const isOverLimit = computed(() => {
	const draftSlug = draftStore.post?.slug;

	if (draftSlug) {
		return !drafts.posts.find((draft) => draft.slug === draftSlug);
	}

	return drafts.posts.length >= MAX_DRAFTS_COUNT;
})

const onSaveInDraft = async () => {
	await draftStore.save();

	if (!draftStore.error) {
		notify('Черновик успешно сохранён!🎉');
	}
};

const onPublish = async () => {
	await draftStore.save();

	if (draftStore.post) {
		await router.push({
			name: Routes.POST_PUBLISHED,
			params: {
				slug: draftStore.post.slug
			},
		});
	}
};

const onShowPreview = async () => {
	await draftStore.save();

	if (draftStore.post) {
		await router.push({
			name: Routes.POST_PREVIEW,
			params: {
				slug: draftStore.post.slug,
			},
		});
	}
};

onMounted(async () => {
	useRedirectUnauthorized(router);

	draftStore.error = null;

	if (params.slug) {
		if (!draftStore.post || draftStore.post.slug !== params.slug) {
			await draftStore.load(params.slug as string);
		}
	} else {
		draftStore.reset();
	}
});
</script>

<template>
	<UniformBlockUI :class="$style.container" v-if="isOverLimit">
		<div :class="$style.draftsLimit">
			<p>Вы достигли лимита по черновикам!</p>
			<p>{{ drafts.posts.length }} черновиков из {{ MAX_DRAFTS_COUNT }}</p>
		</div>
	</UniformBlockUI>

	<template v-else>
		<UniformBlockUI :class="$style.container">
			<ErrorUI v-if="draftStore.error">{{ draftStore.error.message }}</ErrorUI>
			<FilledLoaderUI v-else-if="draftStore.isLoading">Загружаем черновик..</FilledLoaderUI>

			<header :class="$style.titleContainer">
				<input placeholder="Заголовок" v-model="draftStore.corePost.title"/>
			</header>

			<PostContentController :content="draftStore.corePost.content"
														 @change="content => draftStore.corePost.content = [...content]"/>
			<TagManagement v-model="draftStore.corePost.tags"/>
		</UniformBlockUI>

		<!--TODO-->
		<!--	<UniformBlockUI>-->
		<!--		<PostEditorOptions />-->
		<!--	</UniformBlockUI>-->

		<UniformBlockUI :class="$style.footer">
			<ButtonUI @click="onPublish" :is-loading="draftStore.isLoading">Опубликовать</ButtonUI>
			<EmptyButtonUI @click="onShowPreview" :is-loading="draftStore.isLoading">Предпросмотр</EmptyButtonUI>
			<TextButtonUI @click="onSaveInDraft" :is-loading="draftStore.isLoading">В черновик</TextButtonUI>
		</UniformBlockUI>
	</template>
</template>

<style module>
.draftsLimit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 8px;
	flex-direction: column;
	font: var(--font-text);
}

.titleContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 12px;
	border-radius: var(--style-radius-10);
	background-color: var(--color-gray-95);
	width: 100%;
}

.titleContainer > input {
	display: block;
	width: 100%;
	font: var(--font-text);
	color: var(--color-gray-53);
	background-color: var(--color-gray-95);
	border: unset;
	outline: none;
}

.titleContainer > input::placeholder {
	font: var(--font-text);
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 20px;
}

.footer * {
	width: 30%;
}

@media screen and (max-width: $screen-sm) {
	.footer * {
		width: 100%;
	}
}
</style>
