<script setup lang="ts">
import {useCssModule, watch} from "vue";

type ModalUIProps = {
  open: boolean
};

type ModalUIEmits = {
  (e: 'close'): void;
};

const props = defineProps<ModalUIProps>();
const emits = defineEmits<ModalUIEmits>();
const styles = useCssModule();

watch(() => props.open, (open) => {
	document.body.classList.toggle(styles.disableScroll, open);
});
</script>

<template>
  <div :class="$style.modal" v-if="props.open">
    <div :class="$style.background" @click="emits('close')"/>
    <div :class="$style.window">
      <slot/>
    </div>
  </div>
</template>

<style module lang="scss">
.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
	overflow-y: initial
}
.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-black-0-60);
  z-index: 2;
}
.window {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 3;
}

.disableScroll {
	overflow: hidden;
}
</style>
