<script setup lang="ts">
import {Routes} from '@/shared/lib/navigation';
import {UserIcon} from '@/shared/ui/assets';

export type UserPreviewProps = {
  avatar: string | null;
  username: string;
  isCurrentUser?: boolean;
};

const {isCurrentUser} = defineProps<UserPreviewProps>();
</script>

<template>
  <div :class="$style.container">
    <div :class="$style.main">
      <router-link :to="{ name: Routes.PROFILE, params: { username: username } }" :class="$style.linkToProfile">
        <img :class="$style.avatar" :src="avatar" alt="Аватар" v-if="avatar"/>
        <i :class="$style.avatar" v-else>
          <UserIcon/>
        </i>
      </router-link>

      <router-link :to="{ name: Routes.PROFILE, params: { username: username } }" :class="$style.username">
        {{ username }}
      </router-link>

      <slot name="role"/>

      <div v-if="isCurrentUser" :class="$style.isCurrentUser">Вы</div>

      <div :class="$style.time">
        <slot name="time"/>
      </div>
    </div>

    <div>
      <slot name="actions"/>
    </div>
  </div>
</template>

<style lang="scss" module>
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font: var(--font-smaller);
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.linkToProfile {
  display: block;
  height: 24px;
  width: 24px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.username {
  font: var(--font-text-bold);
}

.isCurrentUser {
  padding: 2px 6px;
  border: 1px solid var(--color-primary-1);
  border-radius: var(--style-radius-24);
  color: var(--color-primary-1);
  font: var(--font-smaller);
}

.time {
  color: var(--color-gray-53);
}
</style>
