<script setup lang="ts">
import {Routes} from '@/shared/lib/navigation';
import {UserIcon} from '@/shared/ui/assets';
import {ErrorUI} from "@/shared/ui/components/error-ui";
import {IconSizes,Icon} from "@/shared/ui/components/icon";



import type {ShortUserProfile} from '../model/types';

export type ViewerPreviewProps = {
	profile: ShortUserProfile | null;
};

const { profile } = defineProps<ViewerPreviewProps>();
</script>

<template>
	<div :class="$style.profile" v-if="profile">
    <div :class="$style.main">
      <div :class="$style.avatar">
        <router-link :class="$style.avatarLink" :to="{ name: Routes.PROFILE, params: { username: profile.username } }">
          <img :class="$style.image" :src="profile.avatar" alt="Аватар" v-if="profile.avatar" />
          <Icon :size="IconSizes.THIRTY_SIX" v-else>
            <UserIcon/>
          </Icon>
        </router-link>
      </div>

      <div :class="$style.info">
        <slot name="nickname" :class="$style.nickname">
          <router-link :to="{ name: Routes.PROFILE, params: { username: profile.username } }">
            <span :class="$style.nickname">{{ profile.username }}</span>
          </router-link>
        </slot>

        <div :class="$style.additional">
          <slot name="additional" :class="$style.additional"> </slot>
        </div>
      </div>
    </div>

		<div :class="$style.action">
			<slot name="action"></slot>
		</div>
	</div>

  <div v-else :class="$style.error">
    <ErrorUI>Отсутсвует профиль!</ErrorUI>
  </div>
</template>

<style lang="scss" module>
.profile, .error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.avatar {
  display: flex;
  justify-content: start;
  align-items: center;
}
.avatarLink {
  display: block;
  width: 36px;
  height: 36px;
}
.avatar .image {
  border-radius: 100px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.nickname {
  font: var(--font-text-bold);
  color: var(--color-gray-22);
  width: 100%;
}
.additional {
  font: var(--font-small);
  color: var(--color-gray-53);
  width: 100%;
}

.action {
  display: flex;
}
</style>
