<script setup lang="ts" generic="Post">
import {InfinityScroll} from '@/shared/lib/infinity-scroll';
import {ElongatedBlockUI} from "@/shared/ui/components/block-ui";
import {ErrorUI} from '@/shared/ui/components/error-ui';
import {FilledLoaderUI} from '@/shared/ui/components/loaders-ui';

type PostsFeedProps = {
	posts: Post[],
	isLoading: boolean,
	isLastPage: boolean,
	error: string | null,
}
type PostsFeedEmits = {
	(e: 'scroll-end'): void;
}

const props = defineProps<PostsFeedProps>();
const emits = defineEmits<PostsFeedEmits>();
</script>

<template>
	<FilledLoaderUI v-if="props.isLoading" :class="$style.loader">
		<span>Секундочку, подгружаем посты</span>
	</FilledLoaderUI>

	<ErrorUI v-else-if="props.error">
		{{ props.error }}
	</ErrorUI>

	<InfinityScroll
      v-if="props.posts.length > 0"
      @scroll-end="emits('scroll-end')"
      :list="props.posts"
      :show-scroll-end="!props.isLastPage"
  >
		<template #item="{ item }">
			<slot name="post" :post="item"/>
		</template>
	</InfinityScroll>

	<div v-if="props.isLastPage" :class="$style.allViewed">
		<slot name="all-loaded">
			<ElongatedBlockUI>
				Все посты просмотрены!
			</ElongatedBlockUI>
		</slot>
	</div>
</template>

<style module lang="scss">
.loader {
	margin-bottom: 32px;
}

.allViewed {
  font: var(--font-text);
  width: 100%;
}

@media screen and (max-width: $screen-md) {
	.container {
		gap: 10px;
	}
	.info {
		border-radius: unset;
	}
}
</style>
