<script setup lang="ts">
import { ref } from 'vue';

import { PopupUI } from '@/shared/ui/components/popup-ui';

import type { PostRatingProps } from './types';
import ChangePostRating from './ui/ChangePostRating.vue';
import PostRatingDetails from './ui/PostRatingDetails.vue';
import PostRatingDetailsPopup from './ui/PostRatingDetailsPopup.vue';

const { post } = defineProps<PostRatingProps>();

const isDetailsShown = ref(false);
</script>

<template>
	<div>
		<div :class="$style.desktop">
			<PostRatingDetails
				v-if="isDetailsShown"
				:post="post"
				@close="isDetailsShown = false"
			/>
			<ChangePostRating
				v-else
				:post="post"
				@show-details="isDetailsShown = true"
			/>
		</div>
		<div :class="$style.mobile">
			<PopupUI v-model:open="isDetailsShown">
				<template #popup>
					<PostRatingDetailsPopup :post="post" />
				</template>
				<template #anchor>
					<ChangePostRating
						:post="post"
						@show-details="isDetailsShown = true"
					/>
				</template>
			</PopupUI>
		</div>
	</div>
</template>

<style module lang="scss">
.mobile {
	display: none;
}

@media  (max-width: $screen-sm) {
	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}
}
</style>
