<script setup lang="ts" generic="T">
import {useIntersectionObserver} from '@vueuse/core';
import {ref, onMounted} from 'vue';

import type {InfinityScrollEmits, InfinityScrollProps} from './types';
import InfinityScrollItem from "./ui/InfinityScrollItem.vue";

const props = defineProps<InfinityScrollProps<T>>();
const emits = defineEmits<InfinityScrollEmits>();
const scrollEnd = ref<HTMLDivElement | null>(null);

let startIndex = ref(0);
let endIndex = ref(10);
const appeared = (index: number) => {
  startIndex.value = Math.max(0, index - 5);
  endIndex.value = Math.min(props.list.length, index + 5);
};

onMounted(() => {
  useIntersectionObserver(scrollEnd, async ([{isIntersecting}]) => {
    if (isIntersecting) {
      emits('scroll-end');
    }
  });
});
</script>

<template>
  <div :class="$style.container">
    <div :class="$style.infiniteList">
      <InfinityScrollItem
          v-for="(item, index) in props.list"
          :key="index" :index="index" :item="item"
          :is-visible="index >= startIndex && startIndex <= endIndex"
          @appeared="appeared"
      >
        <template #item="{ item }">
          <slot name="item" :item="item"/>
        </template>
      </InfinityScrollItem>
    </div>

    <div ref="scrollEnd" v-if="props.showScrollEnd && props.list.length > 0"/>
  </div>
</template>

<style module>
.container,
.infiniteList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.infiniteList {
  gap: 32px;
}
</style>
