<script setup lang="ts">
import {watchEffect, computed, ref, onMounted} from "vue";
import {useRoute, useRouter} from "vue-router";

import {useDraftStore, type PostDraft, getDraftPost} from "@/entities/post";
import {useViewerStore, AuthStatues} from "@/entities/user";

import {useRequest} from "@/shared/api";
import {DEFAULT_ERROR_MESSAGE} from "@/shared/config";
import {Routes} from "@/shared/lib/navigation";
import {UniformBlockUI} from "@/shared/ui/components/block-ui";
import {FilledLoaderUI} from "@/shared/ui/components/loaders-ui";

const router = useRouter();
const { params } = useRoute();
const slug = params.slug as string;

const draftStore = useDraftStore();
const viewerStore = useViewerStore();

const requestHook = useRequest(DEFAULT_ERROR_MESSAGE);
const post = ref<PostDraft | null>(null);

const isLoading = computed(() => draftStore.isLoading || viewerStore.isLoading);

watchEffect(() => {
	const draft = post.value;
	const viewer = viewerStore.profile;

	if (draft) {
		const shouldRedirect =
			viewerStore.authStatus === AuthStatues.NOT_AUTHORIZED ||
			(viewer && viewer.username !== draft.author.username);

		if (shouldRedirect) {
			router.push({name: Routes.TRENDS});
		}
	}
});

onMounted(async () => {
	const draft = draftStore.post;

	if (slug && draft?.slug !== slug) {
		post.value = await requestHook.request(() => getDraftPost(slug));
	} else if (draft) {
		post.value = draft;
	}
});
</script>

<template>
	<UniformBlockUI :class="$style.info" v-if="!post && !isLoading">
		<h2>Так, а где пост? А нет его.</h2>
		<p>Варианта два, обновить страницу или написать нам в telegram <span class="color-primary-1">@chicobambuni</span></p>
	</UniformBlockUI>
	<FilledLoaderUI v-if="isLoading">Загружаем пост...</FilledLoaderUI>

	<template v-if="post">
		<UniformBlockUI :class="$style.info">
			<h2>Предпросмотр поста</h2>
			<p>Так будет выглядеть ваш пост, внимательно проверьте его.</p>
		</UniformBlockUI>
		<slot name="post" :post="post"/>
	</template>
</template>

<style module lang="scss">
.info > h2 {
	font: var(--font-sub-title-bold);
}

.info > p {
	font: var(--font-text);
}
</style>
