/* Set font variables */
$-default-family: var(--font-family-default);

//1rem == 10px
:root {
	--font-title: normal 700 1.7rem/2.4rem #{$-default-family};
	--font-sub-title: normal 400 1.5rem/2rem #{$-default-family};
	--font-sub-title-bold: normal 700 1.5rem/2rem #{$-default-family};

	--font-text: normal 400 1.4rem/2rem #{$-default-family};
	--font-text-bold: normal 700 1.4rem/2rem #{$-default-family};

	--font-small: normal 400 1.2rem/1.6rem #{$-default-family};
	--font-smaller: normal 400 1rem/1.6rem #{$-default-family};

	--font-description: italic 400 1.4rem/2rem #{$-default-family};
}

@media screen and (min-width: 1280px) {
	:root {
		--font-title: normal 700 2.8rem/3.6rem #{$-default-family};
		--font-sub-title: normal 400 1.8rem/2.4rem #{$-default-family};
		--font-sub-title-bold: normal 700 1.8rem/2.4rem #{$-default-family};

		--font-text: normal 400 1.6rem/2.4rem #{$-default-family};
		--font-text-bold: normal 700 1.6rem/2.4rem #{$-default-family};

		--font-small: normal 400 1.4rem/2rem #{$-default-family};
		--font-smaller: normal 400 1.2rem/1.6rem #{$-default-family};

		--font-description: italic 400 1.6rem/2.4rem #{$-default-family};
	}
}

// TODO
// mixin on-desktop {
// 	:root {
// 		// copy-paste and change vars if difference
// 	}
// }

/* Classes */
.font-title {
	font: var(--font-title);
}

.font-sub-title {
	font: var(--font-sub-title);
}

.font-sub-title-bold {
	font: var(--font-sub-title-bold);
}

.font-text {
	font: var(--font-text);
}

.font-text-bold {
	font: var(--font-text-bold);
}

.font-small {
	font: var(--font-small);
}

.font-smaller {
	font: var(--font-smaller);
}
