<script setup lang='ts'>
import {ref, watchEffect} from 'vue';
import {useRoute, useRouter} from 'vue-router';

import {BlockUser} from '@/features/block-user';
import {Notification} from '@/features/notifications';
import {Subscribe} from '@/features/subscribe';
import {Verification} from '@/features/verify-user';

import {ProfileHeader, ProfileStats} from '@/entities/profile';
import {useUserStore, useViewerStore, AuthStatues} from '@/entities/user';

import {Routes} from "@/shared/lib/navigation";
import {MegaphoneIcon, Blocked} from '@/shared/ui/assets';
import {ElongatedBlockUI} from '@/shared/ui/components/block-ui';
import {ButtonUI, EmptyButtonUI} from '@/shared/ui/components/button-ui';
import {Divider} from '@/shared/ui/components/divider';
import {Icon, IconSizes} from '@/shared/ui/components/icon';
import {OnlyIconEmptyButtonUI} from '@/shared/ui/components/icon-button-ui';
import {BlockSuspenseUI} from '@/shared/ui/components/loaders-ui';


const { params } = useRoute();
const { push } = useRouter();

const userStore = useUserStore();
const viewerStore = useViewerStore();

const isLoading = ref(false);
const isMe = ref(false);

const loadProfile = async (username: string) => {
  await userStore.loadUser(username);
  isMe.value = viewerStore.profile?.username === username;

  if (!userStore.profile) {
    return push({ name: Routes.TRENDS });
  }
};

watchEffect( () => {
  if (params.username) {
    return loadProfile(params.username as string);
  }

  if (viewerStore.profile) {
    return loadProfile(viewerStore.profile.username);
  }

  if (viewerStore.authStatus === AuthStatues.NOT_AUTHORIZED) {
    push({ name: Routes.TRENDS });
  }
});

watchEffect(() => {
  isLoading.value = viewerStore.isLoading || userStore.isLoading;
});

const date = new Date(Date.parse('01 aug 2023'));
const status = 'Краду сладкие рулеты…';
</script>

<template>
	<ElongatedBlockUI :customPaddings="true">
		<div :class="$style.header">
			<BlockSuspenseUI
				:loading="isLoading"
				:error="userStore.error?.message"
			>
				<ProfileHeader
					:registration="date"
					:name="userStore.profile?.username || ''"
					:status="status"
					:avatar="userStore.profile?.avatar || '/assets/icons/ShortLogoIcon.svg'"
				>
					<Verification :class="[$style.button, $style.verifyButton]" v-show="isMe">
						<template #not-verify>
							<ButtonUI stretched>Подтвердить через Telegram</ButtonUI>
						</template>
						<template #on-loading>
							<ButtonUI stretched disabled>Загрузка...</ButtonUI>
						</template>
						<template #error>
							<ButtonUI stretched>Повторить</ButtonUI>
						</template>
					</Verification>
					<Subscribe :class="[$style.button, $style.notReady]" v-show="!isMe">
						<template #sub-off>
							<ButtonUI stretched disabled>Подписаться</ButtonUI>
						</template>
						<template #sub-on>
							<EmptyButtonUI stretched disabled>Отписаться</EmptyButtonUI>
						</template>
					</Subscribe>
					<Notification v-show="!isMe">
						<OnlyIconEmptyButtonUI :borderless="true" :size="36">
							<Icon :size="IconSizes.SIXTEEN">
								<MegaphoneIcon />
							</Icon>
						</OnlyIconEmptyButtonUI>
					</Notification>
					<BlockUser v-show="!isMe">
						<OnlyIconEmptyButtonUI :borderless="true" :size="36">
							<Icon :size="IconSizes.SIXTEEN">
								<Blocked />
							</Icon>
						</OnlyIconEmptyButtonUI>
					</BlockUser>
				</ProfileHeader>
			</BlockSuspenseUI>
		</div>
		<Divider />
		<div :class="$style.stats">
			<BlockSuspenseUI
				:loading="userStore.isLoading"
				:error="userStore.error?.message"
			>
				<ProfileStats
          v-if="userStore.profile"
					:rating="userStore.profile.rating"
					:comments="userStore.profile.comments_count"
					:pluses="userStore.profile.votes_up_count"
					:minuses="userStore.profile.votes_down_count"
				/>
			</BlockSuspenseUI>
		</div>
	</ElongatedBlockUI>
</template>

<style module lang='scss'>
.header {
	padding: 32px;
	width: 100%;
}

.stats {
	overflow: hidden;
	max-width: 100%;
	padding: 30px;
}

.button {
	flex-basis: 250px;
}

.verifyButton {
	flex-basis: 280px;
}

.notReady {
	opacity: 0.5;
}

@media screen and (max-width: $screen-lg) {
	.stats {
		padding: 16px 8px;
	}
}

@media screen and (max-width: $screen-md) {
	.stats {
		padding: 16px;
	}
}

@media screen and (max-width: $screen-sm) {
	.header {
		padding: 20px 12px;
	}

	.stats {
		padding: 16px 0;
	}

	.button {
		flex-grow: 1;
	}
}
</style>
