<script setup lang="ts">
import {ref, watch} from 'vue';

import {SuccessCircleIcon, ErrorCircleIcon} from '../../assets';
import {IconSizes} from "../icon";
import Icon from "../icon/Icon.vue";

import {useFieldStatus} from "./lib/use-field-status";
import {FieldStatuses} from "./types";
import type {FieldValue, InputEmits, InputProps} from "./types";
import HintPopupUI from "./ui/HintPopupUI.vue";


const emit = defineEmits<InputEmits>();
const props = defineProps<InputProps>();
const inputValue = ref(props.modelValue || null);
const fieldStatus = useFieldStatus();

const onChange = (value: FieldValue) => {
	inputValue.value = value;
	emit('update:modelValue', inputValue.value);
};

const onFocusOut = () => {
	if (fieldStatus.status.value === FieldStatuses.FOCUS) {
		fieldStatus.setFieldStatus(FieldStatuses.NONE);
	}
};

const onFocusIn = () => {
	if (fieldStatus.status.value === FieldStatuses.NONE) {
		fieldStatus.setFieldStatus(FieldStatuses.FOCUS);
	}
};

watch(
	() => props.modelValue,
	(value) => {
		onChange(value);
	}
);

watch(
	() => [props.isError],
	() => {
		if (props.isError) {
			fieldStatus.setFieldStatus(FieldStatuses.ERROR);
		} else {
			fieldStatus.setFieldStatus(FieldStatuses.SUCCESSFUL);
		}
	}
);
//todo .conditionIcon padding
</script>

<template>
	<div :class="$style.container">
		<label :class="$style.label" v-if="label">
			{{ label }}
		</label>

		<section :class="$style.inputSection" :data-status="fieldStatus.status.value">
			<div :class="[$style.inputWrapper, {[$style.withPrefix]: !!$props.prefix}]">
				<span>{{ $props.prefix }}</span>
				<input
					:class="$style.input"
					:type="hideText ? 'password' : 'text'"
					v-model="inputValue"
					@change="onChange(inputValue)"
					@focusout="onFocusOut"
					@focusin="onFocusIn"
					:placeholder="placeholder"
				/>
			</div>

			<div :class="$style.actionIcons">
				<HintPopupUI v-if="showHint">
					<template #hint><slot name="hint"></slot></template>
				</HintPopupUI>
			</div>
		</section>

		<section :class="$style.infoSection" v-if="errors && errors.length > 0">
			<div :class="$style.errorText" v-for="(error, index) in errors" :key="index">
				<span v-if="error.error">{{ error.text }}</span>
			</div>
		</section>

		<section :class="$style.conditionResults" v-if="checkedErrors && checkedErrors.length > 0">
			<div v-for="(result, index) in checkedErrors" :key="index">
				<div :class="$style.conditionResultError" v-if="result.error">
					<div :class="$style.conditionIcon">
						<Icon :size="IconSizes.TWELVE">
							<ErrorCircleIcon />
						</Icon>
					</div>
					<span>{{ result.text }}</span>
				</div>
				<div :class="$style.conditionResultSuccess" v-else>
					<div :class="$style.conditionIcon">
						<Icon :size="IconSizes.TWELVE">
							<SuccessCircleIcon />
						</Icon>
					</div>
					<span>{{ result.text }}</span>
				</div>
			</div>
		</section>

		<section :class="$style.actionsSection" v-if="$slots.actions">
			<slot name="actions"></slot>
		</section>
	</div>
</template>

<style module>
.container {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	width: 100%;
	gap: 8px;
	font: var(--font-text);
}

.label {
	color: var(--color-gray-22);
}

.inputSection {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-radius: var(--style-radius-5);
	font: var(--font-small);
	border: 1.5px solid var(--color-gray-92);
	background-color: unset;
	color: var(--color-gray-53);
}

.inputSection[data-status='error'] {
	border-color: var(--color-red-70);
	color: var(--color-red-79);
}

.inputSection[data-status='successful'] {
	border-color: var(--color-primary-1);
	color: var(--color-primary-2);
}

.inputSection[data-status='focus'] {
	background-color: var(--color-gray-92);
	border-color: var(--color-gray-92);
	color: var(--color-gray-53);
}

.inputWrapper {
	padding-left: 8px;
  width: 100%;
  height: 100%;
	display: flex;
	flex-direction: row;
  justify-content: start;
  align-items: center;
}
.inputWrapper > span {
  display: none;
}

.inputWrapper.withPrefix {
  padding-left: 8px;
}
.inputWrapper.withPrefix > span {
  display: block;
}

.input {
	display: flex;
  padding: 8px 0;
  width: 100%;
  height: 100%;
	font: var(--font-small);
	outline: none;
	border: unset;
	background-color: inherit;
	color: inherit;
	border-radius: var(--style-radius-5);
}
.withPrefix > .input {
  padding: 8px 8px 8px 0;
}

.conditionResults {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	gap: 8px;
}
.conditionResultError,
.conditionResultSuccess {
	position: relative;
	display: flex;
	justify-content: start;
	align-items: start;
	gap: 8px;
	font: var(--font-text);
	color: var(--color-red-70);
}
.conditionResultSuccess {
	color: var(--color-primary-1);
}
.conditionIcon {
	height: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.actionIcons {
	padding-right: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.actionsSection,
.infoSection {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	width: 100%;
}

.errorText {
	color: var(--color-red-70);
}
</style>
