<script setup lang="ts">
const { opened, rightSide } = defineProps<{
	opened: boolean,
	rightSide: boolean,
}>();
const emits = defineEmits(['close']);
</script>

<template>
	<div v-if="opened" :class="$style.overlay"></div>
	<aside
		v-outside-click="($event: MouseEvent) => emits('close', $event)"
		v-if="opened"
		:class="[$style.sidebar, {
			[$style.sidebarRight]: rightSide,
		}]"
	>
		<slot name="sidebar-inner"></slot>
	</aside>
</template>

<style module lang="scss">
.sidebar {
	position: fixed;
	top: 56px;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 256px;
	height: calc(100vh - 56px);
	overflow-y: auto;
	background: var(--color-gray-89);
	z-index: 2;
	border-top: 1px solid var(--color-gray-89);
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
	display: none;
}

.sidebarRight {
	left: auto;
	right: 0;
}

.overlay {
	z-index: 1;
	position: fixed;
	top: 56px;
	left: 0;
	width: 100%;
	max-width: 100vw;
	height: calc(100vh - 56px);
	background-color: #00000086;
	cursor: pointer;
}
</style>
