<script setup lang="ts">
import {PostViewWidget} from "@/widgets/post-view-widget";
import {PostsFeedWidget} from '@/widgets/posts-feed-widget';

import {PageLayout, MobilePageLayout} from "../ui/page-layout";
</script>

<template>
  <PageLayout>
		<template #content>
      <PostsFeedWidget>
        <template #post="{ post }">
          <PostViewWidget :post="post"/>
        </template>
      </PostsFeedWidget>
		</template>

	</PageLayout>

	<MobilePageLayout>
		<template #content>
			<PostsFeedWidget>
        <template #post="{ post }">
          <PostViewWidget :post="post"/>
        </template>
      </PostsFeedWidget>
		</template>
	</MobilePageLayout>
</template>

<style lang="scss" module>
.homeDesktopPage,
.homeMobilePage {
	display: none;
}

@media screen and (min-width: $screen-xs) and (max-width: $screen-xl) {
	.homeMobilePage {
		display: flex;
	}
}

@media screen and (min-width: $screen-xl) {
	.homeDesktopPage {
		display: flex;
	}
}
</style>
