<script setup lang="ts">
import { storeToRefs } from 'pinia';

// eslint-disable-next-line
import { ThemeModes, useThemeStore } from '@/app/providers/stores/theme-store';
import { MoonIcon, SunIcon } from '@/shared/ui/assets';
import { IconSizes, Icon } from "@/shared/ui/components/icon";

const store = useThemeStore();
const { themeMode } = storeToRefs(store);
const { setThemeMode } = store;

const toggleThemeMode = () => {
	const newMode = themeMode.value !== ThemeModes.DARK ? ThemeModes.DARK : ThemeModes.LIGHT;
	setThemeMode(newMode);
};
</script>

<template>
	<label @click.prevent="toggleThemeMode" :class="$style.container">
		<input type="checkbox" :checked="themeMode === ThemeModes.DARK" :class="$style.checkbox" />
		<span :class="$style.slider"></span>
    <Icon :size="IconSizes.SIXTEEN">
      <SunIcon :class="$style.sunIcon" />
    </Icon>
    <Icon :size="IconSizes.SIXTEEN">
      <MoonIcon :class="$style.moonIcon" />
    </Icon>
	</label>
</template>

<style module>
.container {
	position: relative;
	display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 24px;
	border-radius: 12px;
	cursor: pointer;
	background-color: var(--color-gray-22);
	box-shadow: inset 2px 0 4px var(--color-gray-8);
}

.checkbox {
	width: 0;
	height: 0;
	appearance: none;
}

.slider {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 20px;
	height: 20px;
	background-color: var(--color-primary-1);
	border-radius: 50%;
	box-shadow:
		0 1px 3px rgba(0, 0, 0, 0.15),
		0 1px 2px rgba(0, 0, 0, 0.3);
}

.checkbox:checked + .slider {
	left: calc(48px - 20px - 2px);
}

html[data-color-schema="dark"] .moonIcon {
  display: none;
}
.moonIcon {
	position: absolute;
	top: 4px;
	right: 4px;
}

html[data-color-schema="light"] .sunIcon {
  display: none;
}
.sunIcon {
	position: absolute;
	top: 4px;
	left: 4px;
}
</style>
