<script setup lang="ts">
import {NotificationUI} from "@/shared/ui/components/norofication-ui";
</script>

<template>
  <NotificationUI/>
	<div :class="$style.container">
		<RouterView />
	</div>
</template>

<style lang="scss" module>
.container {
	display: block;
	position: relative;
	height: 100%;
}
</style>
