<script setup lang="ts">
import {PostEditorWidget} from '@/widgets/post-editor';

import {PageLayout, MobilePageLayout} from "../ui/page-layout";
</script>

<template>
	<PageLayout>
		<template #content>
			<PostEditorWidget />
		</template>
	</PageLayout>

	<MobilePageLayout>
		<template #content>
			<PostEditorWidget />
		</template>
	</MobilePageLayout>
</template>

<style module lang="scss">
.homeDesktopPage,
.homeMobilePage {
	display: none;
}

@media screen and (min-width: $screen-xs) and (max-width: $screen-xl) {
	.homeMobilePage {
		display: flex;
	}
}

@media screen and (min-width: $screen-xl) {
	.homeDesktopPage {
		display: flex;
	}
}
</style>
