<script setup lang="ts">
import {watch, reactive} from "vue";

import {TextEditor} from "@/features/text-editor";

import {PostContentTypes, createHTMLBlock, createImageBlock, type PostContent, isEmpty} from "@/entities/post";

import {PlusIcon} from "@/shared/ui/assets";
import {IconButtonUI} from "@/shared/ui/components/icon-button-ui";
import {ImageField, type ImageDataType} from "@/shared/ui/components/image-field";


type TagManagementEmits = {
  (e: 'change', content: PostContent): void;
}

const props = defineProps<{ content: PostContent }>();
const emits = defineEmits<TagManagementEmits>();

const content = reactive<PostContent>(
    props.content.length ? [...props.content] : [createHTMLBlock()]
);

const setContent = (newContent: PostContent) => {
	content.length = 0;

	if (newContent.length === 0) {
		content.push(createHTMLBlock());
	} else {
		content.push(...newContent);
	}
}

const removeBlock = (index: number) => {
  setContent(content.filter((_, blockIndex) => blockIndex !== index));
};

const onAddHTMLBlock = () => {
  content.push(createHTMLBlock());
};
const onAddImageBlock = () => {
	if (isEmpty(content)) {
		setContent([createImageBlock()])
	} else {
		content.push(createImageBlock());
	}
};

const onImageBlockLoaded = (index: number, imageData: ImageDataType) => {
  const block = content[index];

  content[index] = {
    ...block,
    ...imageData,
  };
}

watch(content, (content) => {
	emits('change', content);
});
</script>

<template>
  <main :class="$style.main">
    <section :class="$style.postContent">
      <template v-for="(block, index) in content" :key="index">
        <ImageField
            v-if="block.type === PostContentTypes.IMAGE"
            :src="block.src"
            @image-removed="removeBlock(index)"
            @image-loaded="(image) => onImageBlockLoaded(index, image)"
            open-immediately
        />

        <TextEditor
            v-if="block.type === PostContentTypes.HTML"
            @remove-value="removeBlock(index)"
            :class="$style.textareaField"
            v-model="block.value"
        />
      </template>
    </section>

    <section :class="$style.contentTypes">
      <!--   TODO     -->
      <!--        <IconButtonUI @click="addVideo">-->
      <!--          <template #left-icon>-->
      <!--            <PlusIcon :class="$style.smallIcon"/>-->
      <!--          </template>-->
      <!--          <template #text>Видео</template>-->
      <!--        </IconButtonUI>-->
      <IconButtonUI @click="onAddImageBlock">
        <template #left-icon>
          <PlusIcon :class="$style.smallIcon"/>
        </template>
        <template #text>Изображение</template>
      </IconButtonUI>
      <IconButtonUI @click="onAddHTMLBlock">
        <template #left-icon>
          <PlusIcon :class="$style.smallIcon"/>
        </template>
        <template #text>Текст</template>
      </IconButtonUI>
    </section>
  </main>
</template>

<style module lang="scss">
.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
  width: 100%;
  background-color: var(--color-gray-98);
  color: var(--color-gray-22);
  border-radius: var(--style-radius-10);
}

.postContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font: var(--font-text);
  width: 100%;
}

.postContent > * {
  width: 100%;
}

.contentTypes {
  display: flex;
  gap: 16px;
}

.smallIcon {
  width: 8px;
  height: 8px;
}
</style>
