<script setup lang="ts">
import {Link} from "@tiptap/extension-link";
import {Placeholder} from "@tiptap/extension-placeholder";
import StarterKit from '@tiptap/starter-kit'
import {useEditor, EditorContent} from '@tiptap/vue-3'
import {watch, onBeforeUnmount, ref} from "vue";

type TextEditorEmits = {
  (e: 'update:modelValue', content: string): void;
};

const props = defineProps<{ modelValue: string | null }>();
const emits = defineEmits<TextEditorEmits>();

const editor = useEditor({
  content: props.modelValue,
  extensions: [
    StarterKit,
    Link.configure({
      openOnClick: false,
    }),
    Placeholder.configure({
      placeholder: 'Введите текст комментария...',
    }),
  ],
  onUpdate: () => {
    onUpdate()
  },
});

const onUpdate = () => {
  if (editor.value) {
    if (editor.value.getText() === '') {
      emits('update:modelValue', '');
    } else {
      emits('update:modelValue', editor.value.getHTML());
    }
  }
};

const focused = ref(false);
const onFocus = () => {
  focused.value = true;
};
const onBlur = () => {
  focused.value = false;
};

watch(() => props.modelValue, (value) => {
  if (!editor.value || editor.value.getHTML() === value)
    return;

  editor.value.commands.setContent(value, false);
});

onBeforeUnmount(() => {
  if (editor.value) {
    editor.value.destroy();
  }
});
</script>

<template>
  <div
      :class="[$style.editorWrapper, {
				[$style.editorWrapperFocused]: focused,
			}]"
      @focus.capture="onFocus"
      @blur.capture="onBlur"
  >
    <editor-content :editor="editor" :class="$style.editor"/>
  </div>
</template>

<style module lang="scss">
.editorWrapper {
  border-radius: var(--style-radius-10);
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.editorWrapperFocused {
  border-color: var(--color-primary-1);
}

.editor {
  padding: 1em;
  display: flex;
  width: 100%;
  min-height: 72px;
  justify-content: stretch;
  align-items: start;
  border-radius: var(--style-radius-10);
  background-color: var(--color-gray-95);
  font: var(--font-text);
  cursor: text;

  * {
    outline: none;
  }

  ul, ol {
    margin-left: 1em;
  }

  a {
    text-decoration: underline;
    color: var(--color-primary-1);
  }

  a:hover {
    cursor: pointer;
  }
}

.editor > div {
  width: 100%;
  height: 100%;
}
</style>

<style>
.tiptap p.is-editor-empty:first-child::before {
  color: var(--color-gray-53);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
</style>
