<script setup lang="ts">
import { ref, watch } from 'vue';

import { useAuthStore } from "@/entities/user";

import { useForm } from "@/shared/lib/use-form";
import {
	requiredValidator,
	notShorterThanValidator,
	charactersValidator,
	minNumbersCountValidator,
	minLetterCountValidator,
} from '@/shared/lib/validators';
import { ButtonUI, EmptyButtonUI } from '@/shared/ui/components/button-ui';
import { ErrorUI } from '@/shared/ui/components/error-ui';
import { InputUI } from "@/shared/ui/components/input-ui";

import type { PasswordRecoveryFormEmits } from '../types';

const emits = defineEmits<PasswordRecoveryFormEmits>();
const auth = useAuthStore();

const form = useForm({
	code: {
		value: null,
		validators: [requiredValidator()],
	},
	password: {
		value: null,
		validators: [
			notShorterThanValidator(8, 'Не менее 8 символов'),
			minNumbersCountValidator(1, 'Требуется минимум 1 цифра'),
			minLetterCountValidator(1, 'Требуется минимум 1 буква'),
			charactersValidator(
				/^[a-zA-Z0-9!@#$%^&*()]+$/,
				'Разрешены буквы (a-z, A-Z), цифры (0-9) и символы (!@#$%^&*()_-+=)'
			)
		],
	},
});

const unhandledAPIErrors = ref<string[]>([]);
const apiHasErrors = ref<boolean>(false);

watch(unhandledAPIErrors, (value) => (apiHasErrors.value = value.length > 0));

//TODO almost duplicate with LoginForm
const confirmCode = async () => {
	const {code, password} = form.fields;

	unhandledAPIErrors.value = [];
	form.validateAll();

	if (form.hasErrors.value) {
		return;
	}

	await auth.confirmPassword(code, password);

	//Errors router
	if (auth.error) {
		const error = auth.error;

		if (error.message) {
			unhandledAPIErrors.value = [error.message];
		} else {
			unhandledAPIErrors.value = ['Что-то пошло не так:('];
		}
	} else {
		emits('submit');
	}
};
</script>

<template>
	<div :class="$style.container">
		<ErrorUI v-for="(error, index) in unhandledAPIErrors" :key="index">
			<span>{{ error }}</span>
		</ErrorUI>

		<InputUI
			v-model="form.fields.code"
			:errors="form.errors.code"
			:is-error="apiHasErrors"
			label="Введите код, отправленный на вашу электронную почту"
		/>

		<InputUI
			:class="$style.passwordInput"
			label="Введите новый пароль*"
			show-hint
			hide-text
			v-model="form.fields.password"
			:checked-errors="form.errors.password"
			:is-error="apiHasErrors"
		>
			<template #hint>
				<p>Размер пароля от 8 до 128 символов;</p>
				<p>Разрешены буквы (a-z, A-Z), цифры (0-9) и символы (!@#$%^&*()_-+=);</p>
				<p>Требуется минимум одна буква и минимум одна цифра</p>
			</template>
		</InputUI>

		<div :class="$style.buttons">
			<ButtonUI @click="confirmCode" :disabled="form.hasErrors.value" :is-loading="auth.isLoading">Подтвердить</ButtonUI>
			<EmptyButtonUI @click="emits('change-email')">Назад</EmptyButtonUI>
		</div>
	</div>
</template>

<style module>
.container {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	gap: 32px;
	width: 100%;
  font: var(--font-text);
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 24px;
}
.buttons > button {
	width: 100%;
}
</style>
