<script setup lang="ts">
import {watch, ref, onMounted} from "vue";

import {SearchIcon} from '../../assets';
import {IconSizes, Icon} from "../icon";

import type {ISearchInputUI, SearchInputEmits} from './types';

const props = defineProps<ISearchInputUI>();
const emit = defineEmits<SearchInputEmits>();

const input = ref<HTMLInputElement | null>(null);
const value = ref<string>(props.modelValue || '');

const onChange = (value: string) => {
	emit('update:modelValue', value);
};
const onKeyUp = (event: KeyboardEvent) => {
	if (event.key === 'Enter') {
		emit('enter-end', value.value);
	}
};
const onClick = () => {
	emit('search', value.value);
};

watch(() => props.modelValue, (modelValue) => {
	value.value = modelValue;
});
watch(value, (value) => {
	onChange(value);
});

onMounted(() => {
	if (!input.value) {
		return;
	}

	input.value.addEventListener('keyup', onKeyUp);
})
</script>

<template>
	<div :class="$style.container">
		<input v-model="value" :placeholder="placeholder" ref="input" />
		<Icon :size="IconSizes.SIXTEEN">
			<SearchIcon :class="$style.searchIcon" @click="onClick"/>
		</Icon>
	</div>
</template>

<style module>
.container {
	padding-right: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	width: 100%;
	border-radius: var(--style-radius-5);
	font: var(--font-text);
  background-color: var(--color-gray-95);
	color: var(--color-gray-53);
}

.container input {
	padding: 8px 0 8px 8px;
	width: calc(100% - 25px);
	height: 100%;
	background-color: var(--color-gray-95);
	border: unset;
	outline: none;
	cursor: pointer;
}

.container input,
.container input::placeholder {
	color: var(--color-gray-53);
}

.searchIcon:hover {
	cursor: pointer;
	color: var(--color-primary-1)
}
</style>
