<script setup lang="ts">
import {onMounted, computed} from "vue";
import {useRoute, useRouter} from "vue-router";

import {CommentEditor} from "@/features/comment-editor";


import {useCommentsStore} from "@/entities/comment";
import {useViewerStore} from "@/entities/user";

import {Routes} from "@/shared/lib/navigation";
import {ElongatedBlockUI} from "@/shared/ui/components/block-ui";
import {ErrorUI} from "@/shared/ui/components/error-ui";
import {FilledLoaderUI} from "@/shared/ui/components/loaders-ui";

const {params} = useRoute();
const router = useRouter();
const commentsStore = useCommentsStore();
const viewerStore = useViewerStore();

const isNoComments = computed(() => !commentsStore.comments?.length && !commentsStore.isLoading);

const loadComments = () => {
  if (params.slug && params.slug !== commentsStore.slug) {
    commentsStore.load(params.slug as string);
  }
};

onMounted(() => {
  if (!params.slug) {
    router.push({name: Routes.TRENDS});
  }

  loadComments();
});
</script>

<template>
	<ElongatedBlockUI :class="$style.comments" v-if="viewerStore.profile">
    <div :class="$style.newComment">
      <CommentEditor/>
    </div>
  </ElongatedBlockUI>

  <ElongatedBlockUI :class="$style.comments" v-if="commentsStore.error">
    <ErrorUI>{{ commentsStore.error.message }}</ErrorUI>
  </ElongatedBlockUI>

	<ElongatedBlockUI :class="$style.comments" v-if="isNoComments">
		<div :class="$style.newComment">
			<p> Кажется никто ещё не прокомментировал пост, станьте первым!</p>
		</div>
	</ElongatedBlockUI>

  <ElongatedBlockUI :class="$style.comments" v-else-if="commentsStore.isLoading">
    <FilledLoaderUI>Загрука комментариев..</FilledLoaderUI>
  </ElongatedBlockUI>

  <ElongatedBlockUI :class="$style.comments" v-else-if="commentsStore.comments?.length">
    <slot name="comments"/>
  </ElongatedBlockUI>
</template>

<style module lang="scss">
.comments {
  padding: 32px 8px;
}

.newComment {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  font: var(--font-text);
}
</style>
