<script setup lang="ts">
import {ProfileFeedWidget} from '@/widgets/profile-feed-widget';
import {ProfileWidget} from '@/widgets/profile-widget';

import {PageLayout, MobilePageLayout} from "../ui/page-layout";
</script>

<template>
	<PageLayout>
		<template #content>
			<ProfileWidget />
			<ProfileFeedWidget/>
		</template>
	</PageLayout>

	<MobilePageLayout>
		<template #content>
			<ProfileWidget />
			<ProfileFeedWidget/>
		</template>
	</MobilePageLayout>
</template>
