<script setup lang="ts">
import type {PostDraft} from "@/entities/post";
import {Post} from "@/entities/post";
import {TagsList} from "@/entities/tag";
import {PostUserPreview} from "@/entities/user";

const props = defineProps<{ post: PostDraft }>();
</script>

<template>
	<Post :post="props.post">
		<template #header="{ profile }">
			<PostUserPreview :profile="profile"/>
		</template>

		<template #tags>
			<TagsList :tags="props.post.tags" />
		</template>
	</Post>
</template>
