<script setup lang="ts">
import {onMounted, ref} from "vue";
import {useRoute, useRouter} from "vue-router";

import type {PostPublished, PostDraft} from "@/entities/post";
import {PostStatusEnum, getPost} from "@/entities/post";

import {useRequest} from "@/shared/api";
import {DEFAULT_ERROR_MESSAGE} from "@/shared/config";
import {Routes} from '@/shared/lib/navigation';
import {getTimeAgo} from "@/shared/lib/time-tools";
import {ErrorUI} from "@/shared/ui/components/error-ui";
import {FilledLoaderUI} from "@/shared/ui/components/loaders-ui";

import PostDraftView from "./PostDraftView.vue";
import PostPublishedView from "./PostPublishedView.vue";

const {params} = useRoute();
const router = useRouter();
const props = defineProps<{ post?: PostPublished | PostDraft }>();
const post = ref<PostPublished | PostDraft | null>(props.post || null);
const {request, error, isLoading} = useRequest(DEFAULT_ERROR_MESSAGE);

onMounted(async () => {
  if (post.value) {
    return;
  }

  if (!params.slug) {
    return router.push({name: Routes.TRENDS});
  }

  const rawPost = await request<PostPublished | PostDraft | null>(
      () => getPost(params.slug as string)
  );

  let newPost = null;

  if (rawPost) {
    switch (rawPost.status) {
      case PostStatusEnum.PUBLISHED:
        newPost = {
          ...rawPost,
          time_ago: getTimeAgo(new Date(rawPost.published_at))
        };
        break;
      default:
        newPost = rawPost;
    }
  }

  post.value = newPost;
});
</script>

<template>
  <ErrorUI v-if="error">{{ error.message }}</ErrorUI>
  <FilledLoaderUI v-else-if="isLoading">Загрука поста..</FilledLoaderUI>
  <template v-if="post">
    <PostDraftView :post="post" v-if="post.status === PostStatusEnum.DRAFT"/>
    <PostPublishedView :post="post" v-if="post.status === PostStatusEnum.PUBLISHED"/>
  </template>
</template>
