<script setup lang="ts">
import {ChangePostRating} from "@/features/change-post-rating";
import {SavePostToFavorites} from "@/features/save-post-to-favorites";
import {SharePost} from "@/features/share-post";

import type {PostPublished} from "@/entities/post";
import {Post, PublishedPostActions} from "@/entities/post";
import {TagsList} from "@/entities/tag";
import {PostUserPreview} from "@/entities/user";

const props = defineProps<{ post: PostPublished }>();
</script>

<template>
	<Post :post="props.post">
		<template #header="{ profile }">
			<PostUserPreview :profile="profile">
				<template #additional>
					<span>{{ props.post.time_ago }}</span>
				</template>
			</PostUserPreview>
		</template>

		<template #tags>
			<TagsList :tags="props.post.tags" />
		</template>

    <template #footer>
      <PublishedPostActions :post="props.post">
        <template #left-actions>
          <ChangePostRating :post="props.post"/>
        </template>
        <template #right-actions>
          <SavePostToFavorites/>
          <SharePost/>
        </template>
      </PublishedPostActions>
    </template>
	</Post>
</template>
