<script setup lang="ts">
import {useFloating, shift, flip, autoUpdate} from "@floating-ui/vue";
import {ref, onMounted, watch, onUnmounted} from "vue";

import {TooltipUI} from "@/shared/ui/components/tooltip-ui";

import {SearchIcon} from '../../assets';
import {IconSizes, Icon} from "../icon";
import {LoaderUI} from "../loaders-ui";

import type {Option} from "./types";
import OptionsWindow from "./ui/OptionsWindow.vue";


export type RoundedSelectProps = {
  options: Option[],
  loading?: boolean,
  error?: string | null,
}

export type RoundedSelectEmits = {
  (e: 'select', value: string | null): void;
  (e: 'enter-end', value: string): void;
}

const reference = ref(null);
const floating = ref(null);
const {floatingStyles} = useFloating(reference, floating, {
  middleware: [shift(), flip()],
  whileElementsMounted: autoUpdate
});

const emits = defineEmits<RoundedSelectEmits>();
const props = defineProps<RoundedSelectProps>();

const value = ref<string>('');
const options = ref<Option[]>(props.options);
const input = ref<HTMLInputElement | null>(null);
const selected = ref<Option | null>(null);

let timeoutId: NodeJS.Timeout;

const isOpen = ref(false);
const openList = () => {
  const openingIsAllowed =
      options.value.length > 0 ||
      value.value !== '' ||
      !props.loading ||
      props.error;

  if (openingIsAllowed)
    isOpen.value = true;
};
const closeList = () => {
  isOpen.value = false;
};

const onSelect = (option: Option) => {
  selected.value = option;
  options.value = options.value.filter(existOption => existOption.value !== option.value);

  if (options.value.length === 0) {
    closeList();
  }

  emits('select', option.value);
  value.value = '';
};

const onEnterEnd = () => {
  options.value = [];

  if (value.value) {
    emits('enter-end', value.value);
  }

  clearTimeout(timeoutId);
};

const onInputKeyUp = (event: KeyboardEvent) => {
  if (event.key === 'Enter') {
    onEnterEnd();
  }
};

watch(() => props.options, () => {
  options.value = props.options;
  openList();
});

watch(() => props.error, () => {
  openList();
});

watch(value, (value) => {
  if (timeoutId) {
    clearTimeout(timeoutId);
  }

  timeoutId = setTimeout(onEnterEnd, 1000);

  if (value === '') {
    closeList();
  }
});

onMounted(() => {
  if (!input.value)
    return;

  input.value.addEventListener('keyup', onInputKeyUp);
});

onUnmounted(() => {
  if (!input.value)
    return;

  input.value.removeEventListener('keyup', onInputKeyUp);
});
</script>

<template>
  <div
      ref="reference"
      v-outside-click="closeList"
      :class="[
        $style.container,
        {[$style.isError]: props.error}
      ]"
  >
    <div :class="$style.search" @click="onEnterEnd">
      <input v-model="value" type="text" placeholder="Введите тег" ref="input"/>

      <div v-if="props.loading">
        <LoaderUI/>
      </div>

      <Icon v-else :size="IconSizes.SIXTEEN" @click="onEnterEnd" :class="$style.searchIcon">
        <SearchIcon/>
      </Icon>
    </div>

    <div :class="$style.optionsWindow" ref="floating" :style="floatingStyles">
      <template v-if="isOpen">
        <TooltipUI v-if="props.error" :container-class="$style.error" top>
          <span :class="$style.errorText">{{ props.error }}</span>
        </TooltipUI>

        <OptionsWindow
            v-else
            :options="options"
            @select-option="(option) => onSelect(option)"
        />
      </template>
    </div>
  </div>
</template>

<style module lang="scss">
.container {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 160px;
  height: 100%;
}

.search {
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--style-radius-24);
  background-color: var(--color-gray-95);
  color: var(--color-gray-53);
  width: 100%;
  height: 100%;
  font: var(--font-small);
}
.isError > .search {
  border: 1px solid var(--color-red-79);
  background-color: transparent;
  color: var(--color-red-79);
}

.search > input {
  padding: 8px 0 8px 16px;
  width: calc(100% - 25px);
  height: 100%;
  background-color: transparent;
  border-radius: var(--style-radius-24);
  color: inherit;
  border: unset;
  outline: none;
  cursor: pointer;
}
.search > input::placeholder {
  background-color: transparent;
  color: inherit;
}
.searchIcon {
  cursor: pointer;
}

.error {
  margin-top: 2px;
  width: 250px;
  padding: 8px;
  background-color: var(--color-red-79-50);
  color: var(--color-red-79-50);
  border-color: unset;
}
.error > .errorText {
  color: var(--color-gray-22);
}

.optionsWindow {
  padding: 4px 0 4px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 250px;
}
</style>
