<script setup lang="ts">
import {autoUpdate, flip, shift, useFloating} from '@floating-ui/vue';
import {ref} from 'vue';

import {ArrowIcon, SearchIcon} from '../../assets';
import {IconSizes, Icon} from "../icon";

import type {Emits, Option, Props} from './types';
import OptionsWindow from "./ui/OptionsWindow.vue";


const reference = ref(null);
const floating = ref(null);
const { floatingStyles } = useFloating(reference, floating, {
	middleware: [shift(), flip()],
	whileElementsMounted: autoUpdate
});

const emit = defineEmits<Emits>();
const props = defineProps<Props>();
const { modelValue, attractorPlaceholder } = props;

const isOpen = ref(false);
const selected = ref<Option | null>(modelValue);

const openList = () => {
	isOpen.value = true;
};
const closeList = () => {
	isOpen.value = false;
};

const selectOption = (option: Option) => {
  selected.value = option;
	emit('update:modelValue', option);
	closeList();
};
</script>

<template>
	<div :class="[$style.container, { [$style.isActive]: isOpen }]" v-outside-click="closeList">
		<div :class="$style.preview" ref="reference">
			<div :class="$style.attractor" @click="openList">
				<span>{{ selected ? selected.text : attractorPlaceholder }}</span>
        <ArrowIcon :class="$style.arrowIcon" />
			</div>
			<div :class="$style.search">
				<input type="text" placeholder="Введите название…" />
        <Icon :size="IconSizes.SIXTEEN">
          <SearchIcon />
        </Icon>
			</div>
		</div>

		<OptionsWindow
        v-show="isOpen"
        :options="props.options"
        ref="floating" :style="floatingStyles"
        @select-option="selectOption"
    />
	</div>
</template>

<style module lang="scss">
.container {
  display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	position: relative;
}

.arrowIcon {
  width: 10px;
  height: 6px;
  transform: rotateZ(90deg);
}

.preview {
	display: block;
	width: 100%;
}

.attractor {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4px;
	padding: 8px;
	width: 100%;
	font: var(--font-text);
	color: var(--color-primary-2);
  background-color: var(--color-gray-95);
	border-radius: var(--style-radius-5);
	cursor: pointer;
}
.isActive .attractor {
	display: none;
}
.search {
	display: none;
	justify-content: space-between;
	align-items: center;
	gap: 4px;
	padding: 8px;
	width: 100%;
	font: var(--font-text);
	background-color: var(--color-gray-89);
	color: var(--color-gray-53);
	border-radius: var(--style-radius-5);
}
.search > input {
  border: none;
  background: none;
  outline: none;
  color: var(--color-gray-53);
  width: 100%;
}
.search > input::placeholder {
  color: var(--color-gray-53);
}
.isActive .search {
	display: flex;
}
</style>
