<script setup lang='ts'>
import { storeToRefs } from 'pinia';

import { useVerificationStore } from '../lib/verify';

const verificationStore = useVerificationStore();
const { confirmVerification } = verificationStore;
const { loading, error } = storeToRefs(verificationStore);
</script>

<template>
	<div>
		<slot v-if="loading" name="on-loading">Загрузка</slot>
		<div :class="$style.confirm" @click="confirmVerification" v-else-if="!error">
			<slot name="not-verify"></slot>
		</div>
		<div v-if="!loading && error" @click="confirmVerification">
			<slot name="error">Ошибка</slot>
		</div>
	</div>
</template>

<style module>
.confirm {
	width: 100%;
}
</style>
