<script setup lang='ts'>
import { storeToRefs } from 'pinia';

import { useSubscriptionStore } from '../lib/subscribe';

const subscriptionStore = useSubscriptionStore();
const { toggleSubscription } = subscriptionStore;
const { subscribed } = storeToRefs(subscriptionStore);
</script>

<template>
	<div @click="toggleSubscription">
		<slot v-if="subscribed" name="sub-on"></slot>
		<slot v-else name="sub-off"></slot>
	</div>
</template>
