<script setup lang="ts">
import {autoUpdate, flip, shift, useFloating} from '@floating-ui/vue';
import { ref } from 'vue';

import type { IPopupUI, PopupEmits } from './types';

const { open } = defineProps<IPopupUI>();
const emits = defineEmits<PopupEmits>();

const reference = ref(null);
const floating = ref(null);
const { floatingStyles } = useFloating(reference, floating, {
	placement: 'top',
	middleware: [shift(), flip()],
	whileElementsMounted: autoUpdate
});
</script>

<template>
  <div>
		<div
				v-show="open"
				ref="floating"
				:style="floatingStyles"
				v-outside-click="() => {emits('update:open', false)}"
			>
				<slot name="popup"></slot>
			</div>
			<div ref="reference">
				<slot name="anchor"></slot>
			</div>
	</div>
</template>

<style module lang="scss">

</style>
