<script setup lang="ts">
import {TextLink} from "@/shared/ui/components/link";

import {links} from "../config";
</script>

<template>
	<section :class="$style.links">
		<TextLink
			v-for="(route, index) in links"
			:key="index"
			:to="route.path"
			:active-class="$style.activeLink"
			:class="$style.link"
      :disabled="route.disabled"
		>
			{{ route.meta? route.meta.title : 'Отсутсвует наименование' }}
		</TextLink>
	</section>
</template>

<style module lang="scss">
.links {
	display: flex;
	flex-direction: column;
	font: var(--font-sub-title);
}

.link {
	padding: 8px;
	cursor: pointer;
}

.links > *:hover,
.activeLink {
	color: var(--color-primary-1);
}

.activeLink {
	font: var(--font-sub-title-bold);
}
</style>
