<script setup lang="ts">
import {storeToRefs} from "pinia";
import { useRouter } from 'vue-router';

import {useAuthStore, useViewerStore} from '@/entities/user';

import {Routes} from '@/shared/lib/navigation';
import {
  ConfigurationIcon, IgnoreIcon, EyeIcon,
  SaveIcon, CommentIcon, RespondIcon, ExitIcon
} from '@/shared/ui/assets';
import {IconSizes,Icon} from "@/shared/ui/components/icon";
import {TextLink} from "@/shared/ui/components/link";
import {BlockSuspenseUI} from '@/shared/ui/components/loaders-ui';
import {NotificationTextUI} from "@/shared/ui/components/notification-text-ui";
import {HoverTextUI} from "@/shared/ui/components/text-ui";

import {links} from "../config";

const emits = defineEmits(['logout']);

const router = useRouter();
const viewer = useViewerStore();
const {isLoading, error} = storeToRefs(viewer);
const auth = useAuthStore();

const logout = () => {
	auth.logout();
	viewer.setViewer(null);
	emits('logout');
	router.push('/');
};
</script>

<template>
  <BlockSuspenseUI
      :loading="isLoading" :error="error?.message"
      v-for="item in links" :key="item.name"
  >
    <div :class="$style.menuItem">
      <div :class="$style.notification">
        <div :class="$style.menuItem">
          <Icon :size="IconSizes.SIXTEEN" disabled>
            <RespondIcon :class="[$style.menuIcon, $style.replyIcon]" v-if="item.name === Routes.REPLIES"/>
            <CommentIcon :class="[$style.menuIcon, $style.commentsIcon]" v-if="item.name === Routes.COMMENTS"/>
            <SaveIcon :class="[$style.menuIcon, $style.savesIcon]" v-if="item.name === Routes.SAVED"/>
            <EyeIcon :class="[$style.menuIcon, $style.eyeIcon]" v-if="item.name === Routes.VIEWED"/>
            <IgnoreIcon :class="$style.menuIcon" v-if="item.name === Routes.BLACK_LIST"/>
            <ConfigurationIcon :class="$style.menuIcon" v-if="item.name === Routes.SETTINGS"/>
          </Icon>

          <TextLink disabled :to="item">{{ item.title }}</TextLink>
        </div>
        <NotificationTextUI
            v-if="!item.disabled && item.notification"
            :attract="item.notification.attract"
        >
          {{ item.notification.count }}
        </NotificationTextUI>
      </div>
    </div>
  </BlockSuspenseUI>
  <BlockSuspenseUI :loading="isLoading" :error="error?.message">
    <div :class="$style.menuItem" @click="logout">
      <ExitIcon :class="$style.menuIcon" />
      <HoverTextUI>Выйти</HoverTextUI>
    </div>
  </BlockSuspenseUI>
</template>

<style module lang="scss">
.menuItem {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 24px;
  gap: 8px;

}

.menuItem:hover {
  color: var(--color-primary-1);
  cursor: pointer;
}

.menuIcon {
  width: 16px;
  height: 16px;
}

.replyIcon {
  scale: 1 0.9;
}

.commentsIcon {
  scale: 1.5;
}

.savesIcon {
  scale: 1.35;
}

.eyeIcon {
  scale: 1.1;
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
</style>
