<script setup lang="ts">
import { useRouter } from 'vue-router';

import { useAuthStore, useViewerStore } from '@/entities/user';

import {TextLink} from "@/shared/ui/components/link";
import {NotificationTextUI} from "@/shared/ui/components/notification-text-ui";

import {links} from "../config";

const emits = defineEmits(['logout']);

const router = useRouter();
const viewer = useViewerStore();
const auth = useAuthStore();

const logout = () => {
	auth.logout();
	viewer.setViewer(null);
	emits('logout');
	router.push('/');
};
</script>

<template>
	<div :class="$style.links">
		<TextLink
			v-for="item in links"
			:key="item.name"
			:class="[$style.link]"
			:to="item"
			disabled
		>
			<span>{{ item.title }}</span>
			<NotificationTextUI v-if="item.notification" :attract="item.notification.attract">
				{{ item.notification.count }}
			</NotificationTextUI>
		</TextLink>
		<span
			:class="[$style.link]"
			@click="logout"
		>
			Выйти
		</span>
	</div>
</template>

<style module lang="scss">
.links {
	display: flex;
	flex-direction: column;
	font: var(--font-text);
	gap: 16px;
}

.link {
	color: var(--color-gray-22);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0;
	gap: 10px;
}

.disabled {
	cursor: default;
}
</style>
