<script setup lang="ts">
import {useWindowSize} from "@vueuse/core";

import {HeaderWidget} from '@/widgets/header-widget';
import {ProfileMobileNavigationWidget} from "@/widgets/profile-navigation-mobile-widget";
import {SidebarNavigationMobileWidget} from '@/widgets/sidebar-navigation-mobile-widget';

import {CentralColumn, StickyPanelUI} from '@/shared/ui/components/block-ui';
import {MobilePageUI} from '@/shared/ui/components/page-ui';



import type {IMobilePageLayout} from './types';

const { withHeader } = withDefaults(defineProps<IMobilePageLayout>(), {
	withHeader: true,
});

const { width } = useWindowSize();
const widthXl = 1280;
const widthSM = 430;
</script>

<template>
	<MobilePageUI v-if="width < widthXl">
		<StickyPanelUI v-if="withHeader">
			<slot name="header">
				<HeaderWidget>
					<template #sidebar-left>
						<SidebarNavigationMobileWidget />
					</template>
					<template #sidebar-right>
						<ProfileMobileNavigationWidget />
					</template>
				</HeaderWidget>
			</slot>
		</StickyPanelUI>

		<CentralColumn v-if="width > widthSM">
			<slot name="content"></slot>
			<slot name="content-table"></slot>
		</CentralColumn>

		<CentralColumn v-else>
			<slot name="content"></slot>
			<slot name="content-mobile"></slot>
		</CentralColumn>
	</MobilePageUI>
</template>
