<script setup lang="ts">
import {useWindowSize} from "@vueuse/core";

import {AuthWidget} from "@/widgets/auth-widget";
import {SiteNavigationWidget} from "@/widgets/site-navigation-widget";
import {ViewerPanelWidget} from "@/widgets/viewer-panel-widget";

import {DesktopAsideColumnUI, DesktopCentralColumnUI} from '@/shared/ui/components/block-ui';
import {DesktopPageUI} from '@/shared/ui/components/page-ui';



const { width } = useWindowSize();
const widthXl = 1280;
</script>

<template>
	<DesktopPageUI v-if="width >= widthXl">
		<DesktopAsideColumnUI sticky>
			<slot name="left-aside">
				<SiteNavigationWidget/>
			</slot>
		</DesktopAsideColumnUI>

		<DesktopCentralColumnUI :class="$style.central">
			<slot name="content"/>
			<slot name="content-desktop"/>
		</DesktopCentralColumnUI>

		<DesktopAsideColumnUI sticky :class="$style.rightAside">
			<slot name="right-aside">
				<ViewerPanelWidget/>
				<AuthWidget/>
			</slot>
		</DesktopAsideColumnUI>
	</DesktopPageUI>
</template>

<style module lang="scss">
.rightAside, .central {
	padding-bottom: 64px;
}
</style>
