<script setup lang="ts">
import {useRoute, useRouter} from "vue-router";

// eslint-disable-next-line
import {Routes} from "@/shared/lib/navigation";

import { ShowViewedPosts } from '@/features/show-viewed-posts';

import {selectPublishedFeed, PostsFeeds, selectFetcher, PostsFeed} from "@/entities/posts-feed";

import {CentralColumn} from '@/shared/ui/components/block-ui';
import {ErrorUI} from "@/shared/ui/components/error-ui";

const route = useRoute();
const fetcher = selectFetcher(route.name as PostsFeeds);
const feed = selectPublishedFeed(route.name as PostsFeeds);

//TODO temp design
if (route.name === Routes.TRENDS) {
  useRouter().push({ name: Routes.NEW });
}

if (feed) {
	feed.reload(fetcher);
}
</script>

<template>
	<CentralColumn :class="$style.container">
    <template v-if="feed">
      <ShowViewedPosts :class="$style.showViewedPosts" />
			<PostsFeed
				:is-loading="feed.isLoading"
				:is-last-page="feed.isLastPage"
				:error="feed.error? feed.error.message : null"
				:posts="feed.posts"
				@scroll-end="feed.upload(fetcher)"
			>
				<template #post="{ post }">
					<slot name="post" :post="post"/>
				</template>
			</PostsFeed>
    </template>

    <ErrorUI v-else>
      Отсутствует лента
    </ErrorUI>
  </CentralColumn>
</template>

<style module lang="scss">
.container {
	align-items: start;
	gap: 32px;
}

.header {
	display: flex;
	justify-content: start;
	width: 100%;
}

.showViewedPosts {
	padding: 0 12px;
	font: var(--font-small);
}

@media screen and (max-width: $screen-md) {
	.container {
		align-items: start;
		gap: 12px;
	}
}
</style>
