<script setup lang="ts">
import {PostPreviewWidget} from "@/widgets/post-preview-wiget";
import {PostViewWidget} from "@/widgets/post-view-widget";

import {PageLayout, MobilePageLayout} from '../ui/page-layout';
</script>

<template>
	<PageLayout>
		<template #content>
			<PostPreviewWidget>
				<template #post="{ post }">
					<PostViewWidget :post="post"/>
				</template>
			</PostPreviewWidget>
		</template>
	</PageLayout>

	<MobilePageLayout>
		<template #content>
			<PostPreviewWidget>
				<template #post="{ post }">
					<PostViewWidget :post="post"/>
				</template>
			</PostPreviewWidget>
		</template>
	</MobilePageLayout>
</template>
