<script setup lang="ts">
import { ModalBlockUI } from '@/shared/ui/components/block-ui';
import { ButtonUI } from '@/shared/ui/components/button-ui';
import { ModalUI } from '@/shared/ui/components/modal-ui';

type UserActionsMenuProps = {
	open: boolean;
};

type UserActionsMenuEmits = {
	(e: 'close'): void;
};

const props = defineProps<UserActionsMenuProps>();
const emits = defineEmits<UserActionsMenuEmits>();
</script>

<template>
	<div>
		<ModalUI :open="props.open" @close="emits('close')">
			<ModalBlockUI>
				<div :class="$style.content">
					<div :class="$style.text">
						Настройки сохранены! Изменить решение вы сможете на странице «Черный список».
					</div>
					<ButtonUI @click="$emit('close')">Перейти</ButtonUI>
				</div>
			</ModalBlockUI>
		</ModalUI>
	</div>
</template>

<style module>
.content {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.text {
	font: var(--font-text);
}
</style>
