<script setup lang="ts">
import { ModalBlockUI } from '@/shared/ui/components/block-ui';
import { ModalUI } from '@/shared/ui/components/modal-ui';

type UserActionsMenuProps = {
	open: boolean;
};

type UserActionsMenuEmits = {
	(e: 'close'): void;
	(e: 'hidePosts'): void;
	(e: 'hideComments'): void;
};

const props = defineProps<UserActionsMenuProps>();
const emits = defineEmits<UserActionsMenuEmits>();
</script>

<template>
	<div>
		<ModalUI :open="props.open" @close="emits('close')">
			<ModalBlockUI>
				<ul :class="$style.list">
					<li :class="$style.item">Подписаться</li>
					<li :class="$style.item" @click="emits('hidePosts')">Скрыть посты</li>
					<li :class="$style.item" @click="emits('hideComments')">Скрыть комментарии</li>
				</ul>
			</ModalBlockUI>
		</ModalUI>
	</div>
</template>

<style module>
.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.item {
	list-style: none;
	display: block;
	font: var(--font-text);
	cursor: pointer;
}
</style>
