<script setup lang="ts">
import { ref, watch } from 'vue';

import SelectPeriod from './SelectPeriod.vue';
import SettingsSaved from './SettingsSaved.vue';
import UserActionsMenu from './UserActionsMenu.vue';

type UserActionsProps = {
	open: boolean;
};

type UserActionsEmits = {
	(e: 'update:open', open: boolean): void;
};

const props = defineProps<UserActionsProps>();
const emits = defineEmits<UserActionsEmits>();

const currentModal = ref<'menu' | 'selectPeriod' | 'saved' | null>(null);

watch(
	() => props.open,
	(open) => {
		if (open) {
			currentModal.value = 'menu';
		}
	}
);

const close = () => {
	currentModal.value = null;
	emits('update:open', false);
};
</script>

<template>
	<div>
		<UserActionsMenu
			:open="currentModal === 'menu'"
			@close="close"
			@hidePosts="currentModal = 'selectPeriod'"
			@hideComments="currentModal = 'selectPeriod'"
		/>
		<SelectPeriod
			:open="currentModal === 'selectPeriod'"
			@close="close"
			@select="currentModal = 'saved'"
		/>
		<SettingsSaved :open="currentModal === 'saved'" @close="close" />
	</div>
</template>

<style module></style>
