<script setup lang="ts">
import { Link } from "@tiptap/extension-link";
import StarterKit from '@tiptap/starter-kit'
import {useEditor, EditorContent} from '@tiptap/vue-3'
import { watch, onBeforeUnmount } from "vue";

import { TrashIcon } from "@/shared/ui/assets";
import { IconTextButtonUI } from "@/shared/ui/components/icon-button-ui";

import TextEditorToolbar from "./TextEditorToolbar.vue";

type TextEditorEmits = {
  (e: 'update:modelValue', content: string): void;
  (e: 'removeValue'): void;
};

const props = defineProps<{ modelValue: string | null }>();
const emits = defineEmits<TextEditorEmits>();

const editor = useEditor({
  content: props.modelValue,
  extensions: [
    StarterKit,
    Link.configure({
      openOnClick: false,
    }),
  ],
  onUpdate: () => {
    onUpdate()
  },
});

const onUpdate = () => {
  if (editor.value) {
		if (editor.value.getText() === '') {
			emits('update:modelValue', '');
		} else {
			emits('update:modelValue', editor.value.getHTML());
		}
  }
};

const onRemove = () => {
  if (editor.value) {
    editor.value.commands.setContent('', false);
    emits('update:modelValue', '');
    emits('removeValue');
  }
};

watch(() => props.modelValue, (value) => {
  if (!editor.value || editor.value.getHTML() === value)
    return;

  editor.value.commands.setContent(value, false);
});

onBeforeUnmount(() => {
  if (editor.value) {
    editor.value.destroy();
  }
});
</script>

<template>
  <div :class="$style.container">
    <TextEditorToolbar :editor="editor"/>
    <div :class="$style.editorContainer">
      <editor-content :editor="editor" :class="$style.editor"/>
      <IconTextButtonUI :class="$style.clearBtn" @click="onRemove">
        <template #left-icon>
          <TrashIcon :class="$style.trashIcon" />
        </template>
      </IconTextButtonUI>
    </div>
  </div>
</template>

<style module lang="scss">
.container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  color: var(--color-gray-53);
}

.editorContainer {
  position: relative;
  display: flex;
  width: 100%;
}
.editor {
  padding: 1em;
  display: flex;
  width: 100%;
  min-height: 150px;
  justify-content: stretch;
  align-items: start;
  border-radius: var(--style-radius-10);
  background-color: var(--color-gray-95);
  font: var(--font-text);
  cursor: text;

  * {
    outline: none;
  }

  ul, ol {
    margin-left: 1em;
  }

  a {
    text-decoration: underline;
    color: var(--color-primary-1);
  }
  a:hover {
    cursor: pointer;
  }
}
.editor > div {
  width: 100%;
  height: 100%;
}

.clearBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--style-radius-10);
  background-color: var(--color-gray-98);
  color: var(--color-gray-22);
  opacity: 0.6;
  z-index: 1;
}
.clearBtn:hover {
  opacity: 1;
}

.trashIcon {
  width: 16px;
  height: 16px;
}
</style>
