<script setup lang="ts">
import {onMounted, ref} from 'vue';

import {TrashIcon,ImageIcon} from '@/shared/ui/assets';



import { IconFilledButtonUI } from '../icon-button-ui';

import type {ImageFieldEmits, ImageFieldProps} from './types';

// TODO: move shared logic to lib


const emits = defineEmits<ImageFieldEmits>();
const props = defineProps<ImageFieldProps>();

const fileInput = ref();
const image = ref<HTMLImageElement | null>(null);
const previewImage = ref(props.src || undefined);

const removeImage = () => {
  previewImage.value = undefined;
  emits('imageRemoved');
};

const onLoad = () => {
  if (!image.value)
    return;

  const width = image.value.naturalWidth;
  const height = image.value.naturalHeight;
  const src = image.value.src;

  emits('imageLoaded', {
    width, height, src,
  });
};

const uploadImage = (e: Event) => {
  const field = e.target as HTMLInputElement;

	if (!field.files) {
		return;
	}

	const imageFile = field.files[0];
	const reader = new FileReader();

	reader.readAsDataURL(imageFile);
	reader.onload = () => {
		if (typeof reader.result !== 'string' || !image.value)
      return;
    //TODO Load on cloud
    previewImage.value = reader.result;
    image.value.addEventListener('load', onLoad);
	};
};

onMounted(() => {
	if (props.openImmediately && !previewImage.value) {
		fileInput.value.click();
	}
});
</script>

<template>
	<div
		@click="!previewImage && fileInput.click()"
		:class="$style.container"
	>
		<input
			:class="$style.input"
			type="file"
			accept="image/jpeg"
			@change="uploadImage"
			ref="fileInput"
		/>
		<img
			v-show="previewImage"
			:class="$style.image"
			:src="previewImage"
			alt="Загруженное изображение"
			ref="image"
		/>
		<div :class="$style.center">
			<IconFilledButtonUI
				v-if="previewImage"
        @click="removeImage"
			>
				<template #left-icon>
					<TrashIcon :class="$style.trashIcon" />
				</template>
			</IconFilledButtonUI>
			<ImageIcon
				v-else
				:class="$style.icon"
			/>
		</div>
	</div>
</template>

<style module lang="scss">
.container {
	width: 100px;
	height: 100px;
	background-color: var(--color-gray-89);
	border-radius: var(--style-radius-50per);
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.input {
	display: none;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.trashIcon {
	width: 16px;
	height: 16px;
}
</style>
