<script setup lang="ts">
import {ref, onMounted, onUnmounted} from "vue";

import {ImageSquareIcon} from "@/shared/ui/assets";
import {Icon, IconSizes} from "@/shared/ui/components/icon";

import type {ImageFieldProps, SmallImageFieldEmits} from "./types";

const emits = defineEmits<SmallImageFieldEmits>();
const props = defineProps<ImageFieldProps>();

const fileInput = ref<HTMLInputElement | null>(null);
const image = ref<HTMLImageElement | null>(null);
const previewImage = ref(props.src || undefined);

const onLoad = () => {
  if (!image.value)
    return;

  const width = image.value.naturalWidth;
  const height = image.value.naturalHeight;
  const src = image.value.src;

  emits('imageLoaded', {
    width, height, src,
  });
};

const uploadImage = (e: Event) => {
  const field = e.target as HTMLInputElement;
  previewImage.value = '';

  if (!field.files) {
    return;
  }

  const imageFile = field.files[0];
  const reader = new FileReader();

  reader.readAsDataURL(imageFile);
  reader.onload = () => {
    if (typeof reader.result === 'string') {
      //TODO Load on cloud
      previewImage.value = reader.result;
    }
  };
};

onMounted(() => {
  if (image.value) {
    image.value.addEventListener('load', onLoad);
  }

  if (props.openImmediately && !previewImage.value) {
    fileInput.value?.click();
  }
});

onUnmounted(() => {
  if (image.value) {
    image.value.removeEventListener('load', onLoad);
  }
});
</script>

<template>
  <button :class="$style.addImage" @click="fileInput?.click()">
    <img :class="$style.image" alt="Fake Renderer" ref="image" :src="previewImage">
    <input
        :class="$style.input"
        type="file"
        accept="image/jpeg"
        @change="uploadImage"
        ref="fileInput"
    />
    <Icon :size="IconSizes.TWENTY_FOUR">
      <ImageSquareIcon/>
    </Icon>
  </button>
</template>

<style module lang="scss">
.addImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-95);
  border-radius: var(--style-radius-10);
  color: var(--color-gray-53);
  border: unset;
}
.addImageBig {
  padding: 38px;
}

.addImage .input {
  display: none;
}

.image {
  display: none;
}

.addImage:hover {
  color: var(--color-primary-1);
}
</style>
