<script setup lang="ts">
import  { ImageField } from '@/shared/ui/components/image-field';


</script>

<template>
	<div :class="$style.container">
		<div :class="$style.card">
			<div class="font-text">Вы не сможете поменять название и ссылку группы после её создания:</div>
			<div :class="$style.row">
				<ImageField/>
			</div>
		</div>
	</div>
</template>

<style module>
.container {
	width: 100%;
}

.card {
	background-color: var(--color-gray-98);
	border-radius: var(--style-radius-10);
	padding: 32px;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 16px;

}
</style>
